[2015-04-15 05:43] johnceh commented on #916
I could use some input whenever you get a chance @myronmarston, @JonRowe, or anybody else that would know how these tests are expected to respond.

I had my first pull request for this issue passing all the tests (minus 1 cucumber), but it's behavior was modeled closer to the strict vs loose since I made the wrong assumptions. I was hoping I might be able to get some direction on what would be exp

[2015-04-15 07:09] myronmarston commented on #916
The strict vs loose thing has to do with the _type_ of double (normal vs `as_null_object`) and not the use of ahead-of-time `receive` vs after-the-fact `have_received`...although they are related, in that after-the-fact `have_received` can't be used with a strict double unless you explicitly `allow` the message first.

Still, I'd say that the behavior of `receive` is a good guide here.  I converte

[2015-04-15 16:22] johnceh commented on #916
Thanks for the input! I guess I got caught up in the original example having a spy vs double, when the real issue revolves closer to `receive` vs `have_received`.  I can at least try to make the behavior match `receive` where we would expect (like in the examples above), and then maybe we'll see what edge cases are left and how to handle those.

[2015-04-18 11:45] mhenrixon opened #933 "Ruby 2.2 warnings"
I get some warnings running rspec 3.2.1 on ruby 2.2.2 not sure if this is being handled already but these are the warnings

Lines: 67, 84 & 87

Also get a warning on fuzzy matcher with the same information:

This seems to be the solution: https://github.com/rdoc/rdoc/commit/23c276de
More info here: https://github.com/rdoc/rdoc/issues/331

[2015-04-18 14:30] myronmarston commented on #933
Thanks for reporting this!  I've not seen those warnings before.  Can you provide some example code that reproduces these warnings?

Actually, looking at those lines of code you referenced, they are lines where we call `==` on user objects, so I believe the warning is likely triggered by an object you've defined, not anything internal to RSpec.  We made changes to avoid calling `==` on user object

[2015-04-20 13:31] jarmo opened #934 "#receive_message_chain does not work with #ordered"
Previously this code worked:
[code]

Now it doesn't work anymore:
[code]

[2015-04-20 14:29] arthurnn commented on #931
I think , to fix this, we could disable expecations on minitest using that env var https://github.com/seattlerb/minitest/blob/master/lib/minitest/spec.rb#L327

[2015-04-20 14:35] myronmarston commented on #931
Maybe I'm reading the code wrong, but I don't see how that will help.  The `expect` method is defined in `Minitest::Spec::DSL::InstanceMethods` and will be unaffected by that environment variable.  Even if it were to solve the problem, I don't think it's a solution I'd be happy with; users should be able to use minitest-spec's `obj.must_xyz` syntax and rspec-mocks in the same project if they wish.

[2015-04-20 14:38] myronmarston commented on #934
I wasn't aware that ever worked. On which previous version of RSpec did you see it work?

[2015-04-20 15:43] envygeeks commented on #931
I agree with @myronmarston.  While I wouldn't complain if it did happen that way (because it is an rspec lib after all) it would bum me out that it did have to happen that way.

[2015-04-21 01:52] JonRowe commented on #934
`stub_chain(*args).ordered` does in fact exist, but it doesn't work...

e.g. both this:

[code]

and this:

[code]

Pass.

Therefore I'm going to say this was never supported and your specs where passing by coincidence.

[2015-04-21 01:52] #934 closed

[2015-04-21 06:25] jarmo commented on #934
That's what i expected when @myronmarston asked that question right now :) It was some legacy spec code, which i upgraded yesterday from 2.14 to 3 when it started to fail.

Closing this "bug" seems fair to me, although i'd say that it was a bug in 2.x where it didn't work nor blew up :)

[2015-04-21 06:26] JonRowe commented on #934
Yep, but we're not maintaining `2.x`, what should happen is it blows up on `2.x`

[2015-04-27 03:44] mockdeep commented on #842
@myronmarston would it make sense for RSpec to anticipate autoloading and try to resolve it? It seems like it could be something like:

[code]

[2015-04-27 03:58] JonRowe commented on #842
@mockdeep not really because that behaviour isn't prevalent outside of Rails, it's much more common to have to require the things you expect to use. If you're using rspec in rails environment using the constant directly is a much better way to force the desired behaviour.

[2015-04-27 17:26] myronmarston opened #937 "Consider switching from `caller` to raising exceptions to get backtrace for improved performance"
There are a number of places in rspec-mocks where we use `caller` (generally via `RSpec::CallerFilter`).  We've known for a while that `caller` is extremely slow.  Another way to get the backtrace is to raise an exception and use `Exception#backtrace` to get it.  A benchmark shows that, unsurprisingly, using `raise` to get a backtrace is slightly slower than `caller`:

[code]

[code]

However, if

[2015-04-27 22:55] JonRowe commented on #937
Did you benchmark this against `caller_locations` too? We already use that where available rather than `caller` for performance reasons.

Anyway I'm in favour of doing something here at least for the `caller` case so, I've opened a PR on rspec-support (rspec/rspec-support#) that uses the raise and capture trick but lazily finds the line from the backtrace based on a `to_s` call. I figure most plac

[2015-04-28 00:56] mockdeep commented on #842
@JonRowe I guess that makes sense, though it seems like it would make the implementation a little more flexible for these kinds of use cases (as well as less confusing). I'll use the constant for now.

[2015-04-28 01:06] myronmarston commented on #842
@mockdeep - if you are wanting/expecting the class to be loaded, why use the string form at all? The entire reason the string form exists is for situations where the user doesn't want the class loaded, so adding logic to it to load the const goes against its entire purpose.

[2015-04-28 03:18] mockdeep commented on #842
@myronmarston So I can think of two arguments in favor of a more flexible implementation. The first is surprise. [Various](https://github.com/rspec/rspec-mocks#test-spies) [examples](https://relishapp.com/rspec/rspec-mocks/docs/verifying-doubles/using-a-class-double#background) [on the internet](http://rhnh.net/2013/12/10/new-in-rspec-3-verifying-doubles) (including [Avdi's video](https://rubytapa

[2015-04-28 03:21] JonRowe commented on #842
You forget that Rails is causing the surprising case here, and even then only without eager_loading turned on, in normal Ruby the string usage behaves as expected, you'd have to require the class before use.

[2015-04-28 03:29] mockdeep commented on #842
That's true, I'm not blaming RSpec for the confusion necessarily, but it's there. @myronmarston explained it in the comments for the video, but `eager_loading` doesn't really make much sense either, since you might only want to run an individual spec, which shouldn't load all of the classes in the app.

[2015-04-28 03:30] JonRowe commented on #842
Rails autoloading has more confusing behaviour than just this. If you expect something to be present you should load the entire of app or specify the bits you do want.

[2015-04-28 03:31] mockdeep commented on #842
How so? I haven't run into problems with it in my tests, aside from making sure all of my folders are included in the autoload paths. I've never had to manually require individual files for it.

[2015-04-28 04:45] myronmarston commented on #937
Nope, I haven't done a benchmark yet.  I expect `raise` to be significantly faster, though; our [caller vs caller_locations](https://github.com/rspec/rspec-support/blob/master/benchmarks/caller_vs_caller_locations.rb) benchmark shows a 2-3x perf benefit out of using `caller_locations` but my benchmark here shows a 7-19x perf benefit so `raise` is almost certainly going to be faster than `caller_lo

[2015-04-28 08:22] JonRowe commented on #842
It has some quirks regarding name spaced constants and the like

[2015-04-28 14:08] xaviershay commented on #937
nice find

[2015-04-28 17:24] myronmarston commented on #842
I'm thinking we should update our docs to show the non-string form and explain when you'd want to use one vs the other.

What?  I admittedly haven't done a real rails project since the rails 2 days, but I find this surprising.  I believe @xaviershay (the designer of verifying doubles) tends to use the string form in rails projects without any issues.  What makes you say you have to use the non-str

[2015-04-28 21:07] mockdeep commented on #842
So I think we might be talking about different scenarios here. I'm not sure how @xaviershay handles it, of course, but there is the situation that is automatically provided, and then the more strict configuration `mocks.verify_doubled_constant_names = true`. The implicit version only takes effect when the class has been loaded, which doesn't happen in an auto-loaded environment until it has been r

[2015-04-28 22:14] myronmarston commented on #842
Yep, I think we are talking about different situations here.  I didn't realize you were talking about `mocks.verify_doubled_constant_names = true`...

Something else in your environment should be loading or referencing the class constant though, right?  If you're depending upon RSpec to load the constant than how would it ever get loaded in dev and prod?

(As an aside, this is one reason I dislike

[2015-04-28 23:44] mockdeep commented on #842
In development and test the classes are loaded on demand when they are referenced. In production Rails goes through the auto-load paths and requires everything at boot time. In the case of tests where you're mocking out the class under question, it wouldn't necessarily be loaded, so it makes sense to me to have RSpec try to reference it and respond appropriately if it doesn't pop up. It's a semant

[2015-04-28 23:47] #937 closed

[2015-04-28 23:47] JonRowe commented on #937
See the discussion on rspec/rspec-support#199 it's not actually faster in practise.

[2015-04-29 04:07] xaviershay commented on #842
So turns out I don't actually use `verify_doubled_constant_names` option. That's not deliberate, I probably should. (Just grepped a few projects to discover this.) @myronmarston pretty sure that was a feature you added/suggested ;)

My second reaction was that the test environment should eager load everything, though this doesn't appear to be the rails default.

Let me try setting it on a few proj

[2015-04-29 15:52] mockdeep commented on #842
@xaviershay Yeah, not too sure what the implications of eager loading in test environment are. I don't see any performance differences, but I seem to remember some odd behavior around it with gems like `simplecov`, `spork`, and `teaspoon`. Maybe those have been resolved, though.

[2015-04-30 00:32] joevandyk opened #938 "Errors on ranges not handled correctly"
[code]

fails with not what I'd expect.
[code]

[2015-04-30 13:36] samphippen commented on #926
Some initial work was done for this in #936

[2015-04-30 13:36] #926 closed

[2015-04-30 14:55] myronmarston commented on #933
Closing for lack of a response (and because I believe we've probably already solved this as mentioned above).  Will gladly reopen if @mhenrixon provides an example that demonstrates it's still an issue.

[2015-04-30 14:55] #933 closed

[2015-04-30 16:21] mhenrixon commented on #933
Sorry @myronmarston I've just completely missed the previous commend you made. I'll do some tracking this weekend but something tells me this was already fixed for me somehow.

[2015-04-30 22:03] npearson72 opened #939 "Is this a bug?"
I have the following code in my categories controller:

[code]

My test looks like:

[code]

I get the following test results:

[code]

I have the exact same setup for a different controller (addresses) and it works perfectly fine.

Any ideas?

[2015-04-30 22:05] myronmarston commented on #939
Something else in your code base must be calling `Category.find` a 2nd time.  Try changing your message expectation to:

[code]

That'll hook into your `Category.find` method and print off the stack trace for each call so you can identify where the 2nd call is coming from.

[2015-04-30 22:19] npearson72 commented on #939
Ah, thanks for the help! Seems like `acts_as_list` is forcing the double call. I'll need to investigate that. Thanks again!

[2015-04-30 22:19] #939 closed

[2015-05-01 15:17] myronmarston commented on #938
Thanks for reporting this, @joevandyk.  I believe this is a bug in time range objects --- `===` just flat out doesn't work on them, but did in 1.8.7.  I opened an issue with the ruby core team:

https://bugs.ruby-lang.org/issues/11113

I'd rather not put special-case handling in RSpec for time range objects to avoid calling `===` but we may have to.  I want to wait to hear what the ruby core team

[2015-05-01 17:40] myronmarston commented on #938
As a temporary work around, you can wrap your range object in the `eq` matcher (or an alias), as that will only call `==` on the range:

[code]

Not great, but it works.

[2015-05-02 09:12] mhenrixon commented on #933
@myronmarston do you have any gist of what is needed in terms of dependencies to use head for all of rspec? Was going to try some stuff out but keep running into broken dependencies in the current project.

[2015-05-02 10:22] mhenrixon commented on #933
No more warnings after running all the tests with HEAD so this one is totally ok to close! :)

[2015-05-02 14:54] myronmarston commented on #933
Glad you figured that out.  For future reference, we've put instructions for this in our READMEs:

https://github.com/rspec/rspec-rails#installation

[2015-05-02 14:55] mhenrixon commented on #933
Perfect! Thanks a bunch

[2015-05-03 02:32] sgp667 opened #941 "mock.setup not getting required arguments"
I am using Ubuntu 14.04, ruby 2.1, rspec 3.2.3

Whenever I try to run a test I get following Argument error:

     Failure/Error: Unable to find matching line from backtrace
     ArgumentError:
       wrong number of arguments (0 for 1)
     # /usr/lib/ruby/vendor_ruby/rspec/mocks.rb:10:in `setup'
     # /var/lib/gems/2.1.0/gems/rspec-core-3.2.3/lib/rspec/core/mocking_adapters/rspec.rb:19:in `setu

[2015-05-03 06:21] myronmarston commented on #941
In rspec-mocks 2.x, `RSpec::Mocks.setup` takes an argument.  In rspec-mocks 3.x, it does not take an argument.  It appears that even though you're using rspec-core 3.2.3 (based on the file path in your stack trace), you've got a 2.x version of rspec-mocks on your load path at `/usr/lib/ruby/vendor_ruby/`.  You can't use rspec-core 3.x with rspec-mocks 2.x.  RSpec should not be installed in `vendor

[2015-05-03 06:21] #941 closed

[2015-05-03 14:38] sgp667 commented on #941
yes that did the trick. I guess l my lesson is to use either one but not both `apt-get` or `gem` to install gems in the future, because that is what probably happened.

[2015-05-04 06:37] myronmarston commented on #842
Yep, I was indeed the source of the feature :).  Unfortunately, using that feature well is a bit tricky.  You don't want to always turn it on, as doing so totally defeats the purpose of supporting the string form of instance doubles.  It's a good option to have on on CI and when running your entire spec suite, though. Here's my usual habit for it:

* I set it in a file like `spec/support/verify_do

[2015-05-04 09:34] kaelumania opened #943 "Rspec does not initialize the session correctly. session_options missing."
We are using a customized  active record session store and it seems that the rspec mocks do not take care of the configuration correctly.

`Rails.application.config.session_store :active_record_store_with_url_parameter, session_key: '_my_session_key'`

[2015-05-04 13:56] myronmarston commented on #943
rspec-mocks knows nothing about rails or activerecord and isn't responsible for taking care of configuring a session store correctly (how could it?).

What makes you think that RSpec is causing a problem in that part of your application?

[2015-05-04 18:35] myronmarston commented on #938
So it looks like the ruby core team has promptly fixed this:

https://github.com/ruby/ruby/commit/b0616346f8098d0f2063c48ee61c09eb2ddc851e

Given that it's a ruby bug that has already been fixed and there's a reasonable work around shown above, I don't think it makes sense for us to put special case code in rspec to work around this.  I'm going to close this.  Thanks again for reporting it, @joeva

[2015-05-04 18:35] #938 closed

[2015-05-05 00:44] #943 closed

[2015-05-06 08:49] kaelumania commented on #943
But its definitely an testing issue and testing is done via rspec.

[2015-05-06 08:51] JonRowe commented on #943
It's also done via Rails.

[2015-05-06 08:58] JonRowe commented on #943
Hi @kaelumania, rspec-mocks has no integration with Rails directly, so at a minimum if this were to be an issue with rspec, which I don't believe it is, it would be an rspec-rails issue.

Neither rspec-mocks or rspec-rails actually configure Rails however, what is the symptom you are experiencing?

[2015-05-06 09:02] kaelumania commented on #943
As already mentioned, I have to set the following rails configuration manually in a controller spec:

`Rails.application.config.session_store :active_record_store_with_url_parameter, session_key: '_my_session_key'`

Otherwise the controller session variable would not contain these information, which is in contrast to the behaviour when starting the rails server manually.

[2015-05-06 09:05] JonRowe commented on #943
Well you didn't mention that you were doing that, you just pasted the code snippet without saying what the problem was.

So your problem is actually that your configuration isn't being loaded in the test environment? How are you loading Rails?

[2015-05-06 09:12] kaelumania commented on #943
Its only the `session_key` which is part of the rails 'session_options' that is not being loaded correctly. The rails config does contain the `active_record_store_with_url_parameter`. What do you mean by how are you loading rails? I use `bundle exec rspec` or `spring rspec` or `bundle exec rails server`. I am more of a rails beginner than expert.

[2015-05-06 09:16] JonRowe commented on #943
Ok from that I'll assume you're using a generated `spec_helper.rb` or `rails_helper.rb` from us, via our install generator (if you don't have one of those files then you probably have something setup wrong and we can chase that down) this now sounds like a rails issue, as we don't do anything to load the config, that's all rails. If RSpec is otherwise running rails tests happily it's no an issue o

[2015-05-06 09:17] JonRowe commented on #943
As a background I'll point out that rspec (rspec-core, rspec-mocks, rspec-expectations and rspec-support) has zero knowledge of Rails, and rspec-rails which provides integration between rspec and rails is a thin shim around rails own test helpers, and it sounds like thats what is going wrong for you.

[2015-05-06 09:38] kaelumania commented on #943
Yes, we are using a `spec_helper` file. Would you recommend to issue a bug at the `rspec-rails` or `rails` project and any ideas where to look (code)?

[2015-05-06 09:40] JonRowe commented on #943
`rails`

[2015-05-06 13:58] xaviershay commented on #842
Turns out I do use eager loading, just missed it the first time I looked. I have a file `spec/load_rails.rb` that looks like:

[code]

I then can use it like `rspec -r./spec/load_rails spec/unit` whenever I want a full run. I have `bin/test-unit` script that does this for me.

[2015-05-06 14:16] myronmarston commented on #842
That would certainly do the trick.  Still, I think it's suboptimal for users to have to set that up.  If they've configured `verify_doubled_constant_names` then they almost certainly don't want to get `X is not a defined constant. Perhaps you misspelt it?` for a constant that was spelled properly but hasn't been loaded by rails.  I think it's reasonable for us to try to load it in that case.  The

[2015-05-06 14:34] myronmarston commented on #943
How is the session store being configured in your dev and prod environments?  I can imagine it being set in `config/environments/development.rb` and `config/environments/production.rb`.  If that's the case, you'd need to set it in `config/environments/test.rb` as well.

[2015-05-13 13:58] u2 opened #947 "Method Stubs for alais_method"
There is a attribute named active_amount in `Account`.Now we want get `weijin_active_amount` when we call `active_amount`.
[code]

[code]
I know when we `alias_method`, ruby copy the method to the new method.`allow(@account).to receive(:weijin_active_amount){ Money.new(50000, 'CNY') }`, it only change the `weijin_active_amount`, and the `active_amount` keep as before.

After mock this method, I do

[2015-05-13 15:00] myronmarston commented on #947
I don't think it is possible.  As far as I know, Ruby provides no APIs for telling you what method aliases exist.

If it was possible, I'm not sure it would be desirable; rspec-mocks focuses on _messages_ not _methods_, and even though `active_amount` and `weijin_active_amount` have identical implementations, they are different messages, and from that point of view, there's no reason rspec-mocks s

[2015-05-13 15:00] #947 closed

[2015-05-13 15:40] #646 closed

[2015-05-14 01:12] u2 commented on #947
Thanks for your detailed explanation, it make me clear  now.

[2015-05-18 10:27] zw963 commented on #377
This Post is old, But I want to say, in this case, use satisfy is redundant.

In Rspec 3(I use 3.2), You just need passed in one callable object, RSpec
will invoke this object call method lazily on spec lastest duration.

here is a example:

[code]

``lambda {|x| x == Promotion.last}`` will called after expect { ... } is execute,
and lambda block is executed andl be verified.

[2015-05-19 05:53] myronmarston commented on #377
This isn't quite accurate.  RSpec doesn't use `.call` as the interface there -- it uses `===`.  It just so happens that on Ruby 1.9+, lambdas implement `===`.

[2015-05-19 07:25] zw963 commented on #377
@myronmarston , I understood now,  so cool !

[2015-05-19 19:58] ivanoblomov opened #948 "Can't mock nested ActiveRecord scopes"
Given a "sorted" scope that wraps two scopes "created_at" and "by_name":

[code]
Mocking the nested scopes...

[code]

...and testing the wrapper scope in an example...

[code]

...results in nil pointer errors...

[code]

The content of the subordinate scopes is irrelevant, only the fact that "sorted" wraps them matters.

[2015-05-19 20:07] ivanoblomov commented on #948
My bad, returning the described_class in the mock fixes this:

[code]

[2015-05-19 20:07] #948 closed

[2015-05-19 20:07] myronmarston commented on #948
This is by design.  [As documented](https://relishapp.com/rspec/rspec-mocks/v/3-2/docs/configuring-responses) when you `expect` or `allow` a message, the default is to return `nil` when that message is received.

[2015-05-19 20:10] myronmarston commented on #948
Cool, looks like you figured it out.

One thing I'd point out is that it's a bit of a smell to `expect` a query method (a method that returns a result rather than performing a side effect).  I generally try to use `expect` only with a commend (a method that performs a side effect rather than a query).  With a query, the caller winds up _doing_ something with the returned value (or at least it shou

[2015-05-19 20:18] ivanoblomov commented on #948
Right on, thanks for the tip. I think your distinction between commands and queries is totally useful. In my case, I'm trying to decompose some rather complex SQL queries into smaller scopes, which I test explicitly. Then I just make sure the wrapper scopes are calling the correct constituent scopes.

It sounds like you're recommending I only test say, the reports that use the scopes rather than t

[2015-05-19 20:39] myronmarston opened #949 "Confusing failure message when a spy receives multiple messages"
Consider this spec:

[code]

The first example fails with a good error message:

[code]

The second fails with a really inaccurate and confusing error message:

[code]

It says `foo` was not received but it was.  Somehow the act of calling `bar` on the spy causes the confusing failure message.  I have no idea why.  We should fix it.

[2015-05-19 21:36] cupakromer commented on #948
Honestly, I'd caution against this. If necessary use a `shared_example` to "repeat spec behavior". Otherwise, your tests are extremely brittle to refactoring those "nested scopes".

[2015-05-20 00:15] imtayadeway opened #950 "class spies fail to verify when chaining an instance method onto a class method that returns an instance"
Ran into this issue today, which I've reproduced approximately here:

[code]

Basically I want to ignore some implementation detail of `Baz` by stubbing out `Foo`. I get the following error however on executing this test:

[code]

Could this be an issue? Or could it be considered bad practice to use a class spy like this? Thanks!

[2015-05-20 03:22] myronmarston commented on #950
Thanks for reporting this!  As surprising as this behavior may be, it's actually working as it's meant to, although it's definitely confusing and we should do something about that.  The problem has to do with how `as_null_object` works (which spies are implemented using).  `as_null_object` essentially causes the test double to have every method stubbed to return itself, supporting arbitrarily deep

[2015-05-20 06:26] imtayadeway commented on #950
Thanks for your thoughtful words on this! I realized after submitting this that creating an issue may have been premature, because I _do_ know that spies are null objects that behave as you indicated above, and as such should not have expected the above to behave any differently.

That said, I will agree that it could be confusing, and I was a little disoriented myself. My test passed when I wrote

[2015-05-20 06:36] myronmarston commented on #950
One thing we can consider is allowing the user to configure how `as_null_object` behaves.  Maybe an API like:

[code]

That would allow you to have null objects that respond to every message but return `nil` by default instead of `self`, which could help prevent confusion.  I'm not sure how to make the `:return` option fit into  `spy`, though; `spy` already accepts a hash of message/return value p

[2015-05-20 13:43] avdi commented on #950
On Tue, May 19, 2015 at 11:22 PM, Myron Marston <notifications@github.com>
wrote:

And there you get at why I wound up making Naught a "null object toolkit" -
it turns out null objects can have a number of different, orthogonal
properties!

[2015-05-20 13:58] ReneB opened #951 "Weird interaction between stubs on super- and subclasses"
If I set expectations or stubs on classes, something weird happens, according to the descriptions below (which might explain things better and more concisely than I could otherwise, so here):

[code]

[code]

Let me know if you need more information or if I'm just doing something wrong. The code I discovered this issue in worked fine with RSpec 2.99 without any warnings.

[2015-05-20 14:17] cupakromer commented on #950
Am I missing something on the `spy` syntax that is different from `double`? Won't your example also work for spys?

[code]

[2015-05-20 14:21] myronmarston commented on #950
The problem that `spy(...)` already applies `as_null_object`.  `spy` literally is `double.as_null_object`.  So it's a bit silly to do `spy.as_null_object` because you're calling `as_null_object` twice.

[2015-05-20 14:25] ReneB commented on #951
Oh, and of course:
[code]

[2015-05-20 15:03] imtayadeway commented on #950
I've thought some more about this and think I can identify what would make this a happy outcome for me. So, while I do like the suggestions above, what I would _personally_ like is the ability to create a stubbed constant using RSpec's convenience method that does behave like a black hole null object, but without making it a `class_spy`, because in other cases I want to verify class spies, and in

[2015-05-20 15:13] myronmarston commented on #950
You can do that by using `stub_const` directly:

[code]

The `.as_stubbed_const` method is just sugar for this, available when using a class double or class spy since we know the class name.

[2015-05-20 15:19] imtayadeway commented on #950
@myronmarston thanks! so this has boiled down to my not reading the docs properly :blush:

i _do_ like the idea of configurable null objects though, and happy to pick this up if the spy API can be mitigated.

[2015-05-20 18:15] cupakromer commented on #950
Dipping into the implementation details I'm not sure I see it that way. We internally made the `spy` a `double.as_null_object`, but that doesn't mean it would always have to be. Additionally, `as_null_object` already mutates the underlying `double` object. Both of these decisions keep the API clean.

A `spy` can simply be seen as a `double` which defaults to the "black hole" returning `self`. To g

[2015-05-20 19:48] myronmarston opened #952 "Spies interact weirdly with failure aggregation"
[code]

This fails with an aggregated failure that lists 3 failures:

[code]

If you add another exception, it's weird in a different way:

[code]

[code]

Notice that in both these cases the 3rd failure is itself an array of failures. There are multiple oddities here.

[2015-05-21 07:26] myronmarston commented on #951
Thanks for the clear repro case!  I have a change in #954 that should fix your issue.

[2015-05-21 07:26] #951 closed

[2015-05-21 07:48] ReneB commented on #951
Superb, thank you very much. I wish I understood enough of the internals to help out with the failing tests, but as things stand, I'll just thank you for a stellar job and lightning-fast response!

[2015-05-21 09:07] #952 closed

[2015-05-25 08:34] #898 closed

[2015-05-25 08:38] JonRowe commented on #950
Is there anything to do here? Seems not?

[2015-05-26 07:11] myronmarston commented on #950
Nothing specific to do to address @imtayadeway's issue, although it might be useful to provide a way to configure what our null object doubles return at some point.

[2015-05-26 07:13] myronmarston commented on #950
That would work, but it bothers me that in an expression like `spy.as_null_object(:return => nil)`, `spy` doesn't do different than `double` even though it normally does.

[2015-05-27 04:46] myronmarston opened #956 "Negative message expectations interact weirdly with failure aggregation"
[code]

This fails with:

[code]

Two failures are reported when it's really the same failure.  This is really confusing.

I believe the source of the problem is #884 -- with that change we notify the error twice.

I think this should be fixed before 3.3 is released.  There's also something weird going on with it claiming to have received `foo` 2 times...we should look into that as well.

[2015-05-27 15:40] myronmarston commented on #956
So it's pretty non-obvious how to solve this.  The problem at its core is that w/o `aggregate_failures`, you want the eager failures to be re-raised during the verification step to guard against the earlier being rescued and silenced (as could happen if you're running in a context such as sinatra that rescues errors).  But w/ `aggregate_failures` (and potentially other failure notifiers...), you d

[2015-05-27 16:46] samphippen commented on #956
Thoughts (in no particular order)

We could make core check the interface, only passing the option if the arity is present, or we could add a supports_options? method, check it that's present or a billion other little hacks. Although, that is obviously gross

I actually don't think rspec-mocks having it's own aggregate failures implementation is such a problem. Specifically consider the case that

[2015-05-27 17:26] myronmarston commented on #956
Yep, gross :cry:.

There's no need for rspec-mocks to have an implementation of `aggregate_failures` to achieve that.  We already have that functionality.  All that's necessary is for rspec-mocks to notify failures via `RSpec::Support.notify_failure`, which it already does.

I don't like the brittleness, either, but the more I think about it, there's an aspect of this solution that seems really wo

[2015-05-27 17:33] samphippen commented on #956
@myronmarston did you think either of my alternate implementations were useful? It seems like you're leaning towards checking `RSpec::Support.failure_notifier` and switching based on that?

[2015-05-27 17:37] myronmarston commented on #956
No, the solution I'm leaning towards is a hybrid one:

* Override `aggregate_failures` in rspec-mocks.
* Have it toggle some global state (essentially the `RSpec.aggregating_failures?` flag you suggested).
* Use that state to determine the value of `user_already_notified?` on the specific message expectations.
* Check `user_already_notified?` when verifying.

[2015-05-27 17:39] samphippen commented on #956
Right, got it :) Seems good.

[2015-05-27 22:50] JonRowe commented on #956
Why not have an option on `RSpec::Support.failure_notifier` for 'eager' failures, which then `aggregate_failures` could ignore?

[2015-05-27 23:06] myronmarston commented on #956
Can you expand on that?  How do you imagine it working?  It's unclear to me how that would solve the problem here...

[2015-05-27 23:08] JonRowe commented on #956
Add the capacity for options to the method and pass to the notifier, in the default case we'd ignore the option and just raise, in the aggregate failures case we'd use the option to not store the exception?

[2015-05-27 23:30] myronmarston commented on #956
I think I like this idea!  One concern, though: the eagerly notified exception is potentially more useful than the end-of-example `verify` one.  The eagerly notified one contains the stack trace pointing at the call site where the method was called, which is pretty useful.  The end-of-example verify exception simply states that it was called, but provides no clues as to where.

[2015-05-27 23:34] JonRowe commented on #956
The failure notifier generates a backtrace though would that not be sufficient?

[2015-05-27 23:34] JonRowe commented on #956
Hmm probably not, however we could flip this idea and consider the inverse, 'fallback' errors, again same principle normally raise but aggregate failures would ignore them (as it should always hit both)

[2015-05-27 23:41] myronmarston commented on #956
It's not a backtrace from the site where the method was called, though.  It's a backtrace from the point where the error was generated, which happens later during `verify`.

That would work.  I'm thinking that instead of `:eager` vs `:fallback` we may want to pass a `:source_id` -- the idea being that the failure aggregator could use that to de-dup.  Since the eager and fallback errors both origin

[2015-05-27 23:42] JonRowe commented on #956
I like it!

[2015-05-28 05:35] eagletmt opened #958 "`receive(:func).with(time_range)` gives weird error"
[code]

[code]

[2015-05-28 06:19] eagletmt commented on #958
It becomes more problematic when `with` is used multiple times.

[code]

It passes with RSpec <= 2.99, but it fails with RSpec >= 3.0.0 saying "can't iterate from Time" .

[2015-05-28 06:49] eagletmt commented on #958
I just found a workaround for this issue; adding `eq` matcher.
Is this a recommended way?

[code]

[2015-05-28 06:51] myronmarston commented on #958
This is a duplicate of #938.  It's a bug in ruby.  `time_range === object` works in 1.8.7 but regressed in 1.9+.  I reported it in https://bugs.ruby-lang.org/issues/11113 and the ruby core team promptly fixed it in ruby/ruby@b061634.

For RSpec to work around the bug in Ruby, we'd have to special case time range objects and avoid calling `===` on them...but RSpec uses `===` internally as frequentl

[2015-05-28 06:51] #958 closed

[2015-05-28 07:18] eagletmt commented on #958
Okay, thanks.

[2015-05-28 17:15] cupakromer commented on #950
I can see that. As previously discussed `spy` is just sugar over `double.as_null_object`. In essence it really doesn't do much differently than `double` once `as_null_object` is called anyways.

[2015-05-28 21:05] dmolesUC3 commented on #794
I don't think it's true that you can work around this with a partial double. Given the following:

[code]

I get:
[code]

In terms of test simplicity, if you don't need your 'mock' to do anything but you want to avoid some complex initialization, you can use `Foo.allocate` to create an 'empty' object of the correct class.

[2015-05-28 21:14] myronmarston commented on #794
You're example isn't using a partial double.  (At least, it's not using what we mean by "partial double").  `double(Foo.new)` is not a partial double.  It's a test double with `Foo.new` provided as the name.

`Foo.new` can be a partial double, and will be, as soon as you mock or stub a method on it.

True, although `Foo.allocate` returns an object that has all the original implementations.  In fac

[2015-05-28 21:25] dmolesUC3 commented on #794
You're right, I totally failed to understand the partial double [documentation](https://relishapp.com/rspec/rspec-mocks/v/3-2/docs/basics/partial-test-doubles). Sorry, coming out of [Mockito](http://site.mockito.org/mockito/docs/current/org/mockito/Mockito.html#13) where you have to wrap any real object before you can stub its methods. (The fact that the return values in the partial double docs ar

[2015-05-28 21:36] myronmarston commented on #794
You're right.  Problem is, it doesn't really make sense to provide `double.doubled_class` on the verified double since the class it's doubling doesn't provide that interface.  We may need to add a new API for this, although I'm not sure what it would be...

In the meantime, you could do this:

[code]

This would make `instance_double(MyClass)` both create the instance double, and stub `MyClass.===

[2015-05-28 21:48] dmolesUC3 commented on #794
Clever! Thanks.

[2015-05-31 06:05] #949 closed

[2015-06-04 13:33] purbon opened #964 "expect and_call_original messing up with modules build as jruby extensions."
While doing some test to upgrade https://github.com/elastic/logstash to use the last rspec set of gems, I found out an issue with the way expectation with the and_call_orignal call work in the 3.x branch.

*Situation*

In logstash we're using the jruby wrapper of jrjackson [1] as a json lib, so we get a really fast json processing. So to build the test we use calls like:

[code]
during the upgrade

[2015-06-05 01:13] JonRowe commented on #964
Can you try something for me? Can you run your build with:

[code]

[2015-06-05 04:28] purbon commented on #964
Hi @JonRowe I tried to run https://github.com/purbon/playground/tree/master/call_origin_with_module with your proposed options and I see the same error:

[code]

I did several attempts to reproduce this error with code as the one in https://github.com/rspec/rspec-mocks/commit/6f1941bd1b0870b17abcd40503706922a31c6326, however I was only able to reproduce this in situations as the one using https://

[2015-06-05 08:29] redross opened #966 "Is RSpec::Mocks.with_temporary_scope suppose to work in before(:suite)?"
Hi, I've been checking out "[Factory Girl Seeds](https://github.com/evrone/factory_girl-seeds)" and encountered a problem. The gem author suggests creating records in `before(:suite)`. Which works fine for simple factories, but more advanced ones get in all kinds of trouble (resque jobs being enqueued, external services being called and not found etc.). Normally all of these are stubbed out in a `

[2015-06-07 02:08] randycoulman opened #967 "have_received matcher fails with Minitest"
I'm trying to use rspec-mock's spies in a Minitest (**not** `Minitest::Spec`) project and am running into an error that I don't know how to solve.

I'm using Minitest 5.7, rspec-mocks 3.2.1, and Ruby 2.1.3p342.

As near as I can tell, I'm not running into any conflicts between Minitest and rspec-mocks.  When I trace through the code, I seem to be hitting only methods in rspec-mocks.

When I run th

[2015-06-07 02:26] randycoulman opened #968 "Why is the negated have_received matcher not supported?"
According to the README, it is allowable to have a spy expectation like:

[code]
However, this is explicitly disallowed by the code in `targets.rb`.  Is there a reason that this is not supported?  The matcher itself seems to support it just fine.

As I've investigated further, this syntax **is** allowed when using RSpec, but is disallowed when using rspec-mocks within Minitest.

I believe that, if

[2015-06-07 06:19] myronmarston commented on #967
Thanks for reporting this!

The problem is that `have_received` implements the `rspec-expectations` matcher protocol, and returns an object that rspec-expectations knows how to work with...but that rspec-mocks doesn't know how to work with.  `expect` is an rspec-expectations method.   rspec-mocks implements a fallback definition of `expect` that allows `expect(x).to receive` to work (which isn't a

[2015-06-07 06:23] myronmarston commented on #968
Negated `have_received` is supported.  We have many specs that confirm that:

https://github.com/rspec/rspec-mocks/blob/0dd16e3a79604124e416d7bd934df138515d9afc/spec/rspec/mocks/matchers/have_received_spec.rb#L515-L560

In targets, negation is only disallowed for `allow`; e.g. `allow(x).not_to` is not supported.

As explained in #967, the problem is that `have_received` only works when you are als

[2015-06-07 06:23] #968 closed

[2015-06-07 06:30] randycoulman commented on #967
This looks like it should work.  I'll give it a shot when I get a chance.  Thanks!

[2015-06-07 06:34] randycoulman commented on #968
I think that doing what you suggest in #967 will fix my problem, I agree.

But in the case statement in `targets.rb`:

https://github.com/rspec/rspec-mocks/blob/0dd16e3a79604124e416d7bd934df138515d9afc/lib/rspec/mocks/targets.rb#L21-L28

the `HaveReceived` matcher falls through to the else clause and gets reported as an unsupported matcher.

[2015-06-07 06:45] myronmarston commented on #968
Thanks, now I see what you are referring to!

It's intentional that `HaveReceived` falls through as it's a "real" matcher that can only work when passed to rspec-expectations' implementation of `expect` (which is always used if both rspec-mocks and rspec-expectations are loaded).  The other classes listed in that code are not "real" matchers; they implement the matcher protocol simply to provide f

[2015-06-07 20:22] randycoulman commented on #967
Confirmed - this solves the problem nicely.  Thanks for your help!

[2015-06-08 04:06] myronmarston commented on #966
`RSpec::Mocks.with_temporary_scope` can be used in _any_ context but it doesn't automatically make the rspec-mocks API available in that context.  `RSpec::Mocks.with_temporary_scope` is concerned only with the setup/verify/teardown lifecycle of rspec-mocks, performing that lifecycle anywhere you want it to occur.  To make the rspec-mocks API available in a context, `RSpec::Mocks::ExampleMethods` n

[2015-06-08 07:23] redross commented on #966
Achievement unlocked :laughing:

Thanks for your help, will try the "hack" :)

[2015-06-08 18:12] jooshbzm commented on #203
We ran into this problem as well. To work around it, we just handled exception in a method, then monkeypatched that method in spec/support. It's working well for now.

Something like this:

[code]

[code]

[2015-06-08 18:14] myronmarston commented on #203
Another solution: rspec 3.3 (to be released ASAP) contains a new `aggregate_failures` feature that allows multiple failures within a single example and raises a single exception at the end.

[2015-06-09 16:51] jarmo commented on #203
Why didn't that `throw/catch` solution suit that @moll suggested above? Seems to be most natural way of fixing this problem and then you could say something in the lines of `all other testing frameworks are fragile` :)

[2015-06-09 17:17] myronmarston commented on #203
@jarmo -- changing to `throw/catch` would be a breaking change to the API, and rspec-mocks and rspec-expectations are both usable with other test frameworks (e.g. cucumber and minitest) which expect the current behavior (raising an exception).  The best we can do for now is make it configurable.

...which, as of RSpec 3.3 it is :).  It's not a documented public API (and therefore may have breaking

[2015-06-09 18:09] myronmarston commented on #956
So this issue as resurfaced.  Specifically, rspec/rspec-core@f989168c9dbbcd930af6e7cc61e08057194929a8 (part of rspec/rspec-core#1985) has caused the same issue for a simple example when you are _not_ using `aggregate_failures`:

[code]

The rspec-mocks build is currently failing due to this.  It's only causing a couple cukes to fail (no specs) which is why rspec/rspec-core#1985 was green and we di

[2015-06-10 15:17] myronmarston commented on #956
I've thought of an alternate solution that should work.  It's inspired by the discussion in #203. Using `raise` to notify a failure means someone can rescue it and silence it...which in turn necessitates the need to re-raise at the end of the example, which in turn requires these work arounds.  What if we could notify the failure w/o using `raise`?  Specifically, we can use `throw`.  This works fo

[2015-06-12 20:41] tisba opened #972 "allow no longer works with ActiveRecord classes"
While updating a rails 4.2.1 project from rspec 3.2.0 to 3.3.0 I got a lot of failing specs.

I noticed that the issue can be reproduced simply by the following (pointless spec):

[code]

[2015-06-12 21:52] myronmarston commented on #972
Thanks for reporting this.

Can you provide a backtrace for the error you are getting?  We haven't seen that problem and can't guess what the problem is.  Also, if you're able to provide a reproducible example, that would help us get to the bottom of this quickly.

Thanks!

[2015-06-12 22:17] baburdick commented on #972
+1

[code]
[code]

[2015-06-12 22:19] myronmarston commented on #972
Thanks, @baburdick, that's helpful.  Can you re-run it with `-b` to enable the full backtrace so we can see the RSpec stack frames?

[2015-06-12 22:27] baburdick commented on #972
[code]

[2015-06-13 06:58] cupakromer commented on #972
I've reproduced with RSpec 3.3.0 on both [Ruby 2.2.2 with Rails 4.2.1] and [Ruby 2.1.5 with Rails 4.1.10]. Here were my basic steps:

[code]

The spec file looks like:

[code]

It's late so I'll have to look at it more later. I did verify that putting rspec-rails 3.2.3 in the `Gemfile` instead of 3.3.0 make the spec pass. I'm currently unsure if this is due to a change in rspec-rails or rspec-mock

[2015-06-13 07:40] myronmarston commented on #972
I've also dug into this a bit. I've bisected rspec-mocks and it points to e5bfbcb75bca581924697ab0e9fd9447e9257b76 as the source commit for this problem.  The problem is that `User.define_attribute_methods` works fine but `ActiveRecord::Base.define_attribute_methods` does not.  It raises the error we are seeing.  Due to changes in e5bfbcb75bca581924697ab0e9fd9447e9257b76, when you stub a class, th

[2015-06-13 15:22] myronmarston commented on #972
I've got a fix in rspec/rspec-rails#1395, although we are going to also want to fix the rspec-mocks callback so it doesn't get triggered for every superclass.  But that can be a separate PR.

I'm hoping to release rspec-rails with a fix later in the weekend.

[2015-06-14 07:28] myronmarston commented on #972
rspec-rails 3.3.1 has been released with a fix.

[2015-06-14 07:28] #972 closed

[2015-06-14 09:15] tisba commented on #972
Wow, that's awesome! Thanks for the quick fix @myronmarston!

[2015-06-15 08:47] somebody32 opened #975 "Mocking AR methods causes DB errors in 3.3"
Hi, I'm trying to upgrade from 3.2 to 3.3 and getting a lot of db-level errors:

[code]

But if I set `mocks.verify_partial_doubles` to `false` then everything become green again. In 3.2 with activated `verify_partial_doubles` everything works too

[2015-06-15 10:26] JonRowe commented on #975
Are you using `rspec-rails`?

[2015-06-15 10:33] somebody32 commented on #975
@JonRowe yes, `3.3.1`

[2015-06-15 10:34] JonRowe commented on #975
What is klass in this instance?

[2015-06-15 10:36] somebody32 commented on #975
subclass of ActiveRecord::Base

[2015-06-15 10:39] JonRowe commented on #975
Can you provide more of a snippet? It looks like its either not a working active record model, or something is going wrong with the database connection before we call `define_attribute_methods` on it (which is done in rspec-rails as part of the verification process). Can you also provide the full backtrace of this error (use `--backtrace`)?

[2015-06-15 10:46] somebody32 commented on #975
@JonRowe updated previous comment, looks like the problem is only with children of `abstract_class` (not sure for 100%, too many errors to go through)

[code]

[2015-06-15 10:54] JonRowe commented on #975
Yep got it, it's an rspec-rails bug, although I'm surprised it worked in 3.2

[2015-06-15 10:59] somebody32 commented on #975
wow, what a speed, thanks a lot @JonRowe!

[2015-06-15 11:04] JonRowe commented on #956
We could try it, we'd probably want to bench mark it

[2015-06-15 15:51] esambo commented on #972
:+1:

[2015-06-16 08:23] #975 closed

[2015-06-16 08:24] JonRowe commented on #975
The `master` version of RSpec Rails should now fix this for you

[2015-06-16 16:07] myronmarston commented on #966
Closing in favor of @JonRowe's fix in rspec/rspec-core#1986.

[2015-06-16 16:07] #966 closed

[2015-06-18 01:32] baburdick commented on #972
Thanks @myronmarston!

[2015-06-18 15:08] myronmarston commented on #966
rspec-core 3.3.1 has been released with a fix.

[2015-06-18 15:20] redross commented on #966
Great! Thanks for taking care of this :bow:

[2015-06-19 18:29] randycoulman commented on #967
I've continued to think about this issue and how it might be resolved.

As a short-term "fix", we could just raise some kind of error when attempting to use the `have_received` matcher without the support of rspec-expectations.  Also, update documentation to warn about this issue. I think I have an idea about how to do these, and I'll start working on a PR in this direction.

Ultimately, though, i

[2015-06-21 14:02] samphippen commented on #964
Can reproduce this against my local dev setup.

[2015-06-21 14:07] samphippen commented on #964
This did not work against 2.14.0

[2015-06-21 14:20] samphippen commented on #964
trying to find bisect commits on master that work for this error.

[2015-06-21 14:26] samphippen commented on #964
green with this combo of gems:

[code]

going to try bisecting against the 2-14 branch.

[2015-06-21 14:35] #967 closed

[2015-06-21 14:40] samphippen commented on #964
This is green in master as of 3956221a127d560555e0bdbb1347f330c9237cd8. Going to work out which commit cause the breaking a little later.

[2015-06-21 15:46] samphippen commented on #964
[code]

[2015-06-21 16:20] samphippen commented on #964
the problem is this line of code, where I'm getting:

[code]

[2015-06-21 17:00] samphippen commented on #964
Consider the following example:
[code]

output:
[code]

So, unless I'm reading this wrong, JRuby has a bug in the return values from the `#owner` method on the result of `#instance_method` when it's called on singleton class objects on native extension module objects.

This causes some of our internal method stashing and unstashing logic to behave incorrectly. I'd **love** a second opinion on this

[2015-06-21 17:19] samphippen commented on #964
I tested a hypothetical fix to this by swapping out the owner in this exact case, I got the following error:

[code]

[2015-06-21 17:20] samphippen commented on #964
I'm increasingly convinced this is a JRuby bug. If someone from @rspec/rspec agrees I think we should reach out to the JRuby team and see if they can help us out?

[2015-06-21 17:50] xaviershay commented on #964
Yeah that looks like a bug to me ... is there an analogous case we could provide for MRI to show that there is a behavioural difference?

[2015-06-21 18:15] samphippen commented on #964
@xaviershay the behaviour difference is on a pure module versus a jruby extension one, and the behaviour of the pure module is the same in MRI and JRuby, obviously, we can't run a JRuby extension on MRI.

[2015-06-21 18:16] samphippen commented on #964
@purbon btw, as a work around, you could simply wrap `JrJackson::Raw` in a pure ruby module and this would work

[2015-06-21 18:17] samphippen commented on #964
@rspec/rspec I'm going to write a minimal reproduction case that creates it's own JRuby module to see if my understanding is correct and then ping the JRuby folks.

[2015-06-22 19:07] samphippen commented on #921
@brycemcd are you still interested in doing this? We love it when people help us with our documentation ^_^

[2015-06-23 03:43] brycemcd commented on #921
@samphippen - it totally slipped my mind. I'm interested and I've blocked out some time to get it done by the end of the week.

[2015-06-23 09:11] purbon commented on #964
Thanks a lot for your debugging, is much a appreciate it! For now this is not a hard issue for us, but would be nice to have so we can use mocks as "expected". Happy to help rspec reporting issues :-), this is such a great thing for ruby :+1:

[2015-06-23 10:02] JonRowe commented on #964
@samphippen your explanation makes sense to me, as is what JRuby is doing when you "fixed" it :)

[2015-06-23 14:58] samphippen commented on #964
I'm not gonna be able to do the JRuby thing for a while because of sudden unexpected busyness but roughly I think the repro case we'd want to build is:

* A jruby extension module with a single class method
* A normal ruby module with a single class method
* A test that shows the singleton class of the normal ruby module correctly returns an instance method object with the correct owner (i.e. the

[2015-06-23 15:03] purbon commented on #964
@samphippen I can, I will report here when done.

[2015-06-24 19:53] Senjai commented on #910
@JonRowe While I agree that this is a codesmell, this is often the only way to test situations where instances are created dynamically. The canonical example is active record, where you can have a reference to an instance, but a query will generate a new instance that you cannot grab an instance of, and those two instances are different.The only way to get around this is:

Testing the end result o

[2015-06-24 19:54] Senjai commented on #910
cc @myronmarston

[2015-06-25 14:56] JonRowe commented on #910
You have a few tactics here which are, in my opinion, better than using any instance.

1) Stub out the query chain and return a specific double.

This is the best approach if you're attempting to test something outside of active record where you want the speed of using doubles over the reliability of an integration check. Assert on what you're passing the query and let active record do its magic i

[2015-06-27 19:10] jarmo commented on #203
@myronmarston: instead of "fixing" bad design (tests not failing due to bad `rescue Exception` clause smells) you see that adding new features/configuration parameters is a better solution?

I hope RSpec is not heading Java's way where backwards compatibility is the most important thing to have so all that crap from it's beginning still exists.

[2015-06-28 01:36] myronmarston commented on #203
We made _lots_ of backwards incompatible changes when we released 3.0.  4.0 will include more backwards incompatible changes (although much fewer, I believe -- and no major syntax changes).

We do follow SemVer, which means we've promised to our users not to intentionally break backwards compatibility in a minor or patch release, so making that kind of change in a 3.x release simply isn't an optio

[2015-07-08 00:22] lizrush opened #986 "Guide to contributing wiki page needed"
I'd love to see a guide for contributors to help folks get started. I found that I was a little uncertain about the expectations and we seemed to uncover some blind spots I had in the course of the PR review we did (ex: I didn't know how to generate the docs so I didn't catch my whitespace in the docs problem).

Potential contribution guide topics could include:
* Do you squash commits or leave al

[2015-07-08 00:38] JonRowe commented on #986
I'm pretty certain the wiki is editable by everyone, but alternatively how about drafting a `Contributing.md` we can point to from the read me, that way we could give feedback on it in a PR :)

[2015-07-08 01:15] JackDanger commented on #986
@JonRowe It would probably be easier for someone who's already a contributor to the project to start the `Contributing.md` rather than someone who's totally new. Who would be a good person for us to ask to start such a document?

[2015-07-08 02:08] myronmarston commented on #986
I'll take a stab at this.  I think it'll make sense to put it in the `rspec-dev` repo where it can be distributed to the other repos using the same mechanism we distribute our build scripts.

[2015-07-08 02:08] myronmarston commented on #986
This is a great idea, BTW -- thanks for bringing it up, @lizrush!

[2015-07-08 02:14] JonRowe commented on #986
@myronmarston you can probably use rspec/rspec-dev#125 as a basis too

[2015-07-08 05:15] #921 closed

[2015-07-08 05:15] JonRowe commented on #921
Fixed by #984

[2015-07-10 19:47] mxrguspxrt opened #990 "Why it has to be such paint to test?"
I do understand that these are not exactly the same objects in a Hash, but direct comparation would work. Also why it is not smart enough to understand that Postgre does not store with that precision?

[code]

[code]

[code]

[2015-07-10 19:51] myronmarston commented on #990
The problem is here:

[code]

The two times are not equivalent.  You can do this:

[code]

Basically, wrap the entire thing in [`an_object_matching`](http://rspec.info/documentation/3.3/rspec-expectations/RSpec/Matchers.html#match-instance_method) so that you can substitute matchers for any values, and then use `a_value_within(1.second).of (@visit_entry.datetime)` to specify a time object near to

[2015-07-10 20:04] mxrguspxrt commented on #990
@myronmarston Thank you! You are my hero!

Working solution:

[code]

[2015-07-10 20:04] #990 closed

[2015-07-16 16:48] jasonkarns commented on #872
Missing this feature.

The code under test relies on `respond_to`, which we're attempting to test. All but one of the tests need the method stubbed, so we have `allow().to receive` in `before`. And we need to remove that method stub for a single test.

`undef_method` and `remove_method` don't work because rspec complains about the double receiving unexpected messages `:undef_method` and `:remove_m

[2015-07-16 17:02] myronmarston commented on #872
@jasonkarns -- can you put together an example of what you are trying to do?

[2015-07-16 17:15] jasonkarns commented on #872
This is what we currently have:

[code]

[2015-07-16 17:22] myronmarston commented on #872
Thanks, that's helpful.

The reason `undef_method ` and `remove_method` did not work for you is that they are defined on [`Module`](http://ruby-doc.org/core-2.2.0/Module.html#method-i-remove_method), not `Object`, and RSpec's doubles are not modules.  To use them on a double, you just need to run them in the context of the singleton class.  Here's an example that works:

[code]

[2015-07-16 17:24] myronmarston commented on #872
BTW, I'm open to adding an equivalent of `unstub` for the newer syntax if someone can come up with an API that makes sense and reads well.

[2015-07-16 17:24] jasonkarns commented on #872
I recognize the grammar of `allow(x).not_to receive` is quite odd. But it fits with the rest of rspec's api which makes it intuitive (IMO). But I know you've add a full discussion on that, so I don't want to re-start it. :)

[2015-07-16 17:27] jasonkarns commented on #872
Mostly, I just wanted to add my vote that this feature is still desired, and I (as a user, not maintainer, so grain of salt) would be willing to live with a less grammatically correct API as long as the feature is available.

`disallow(x).to receive` would also work, but that's a bigger API change (and could open a can of worms with the `with`/`return` constraints)

[2015-07-16 17:30] jasonkarns commented on #872
going with `class << page; undef execute_script end  ` for now since it's explicit about the method being undefined, and is relatively clear enough (compared to `page.unstub(:execute_script)`) that it's worth using to eliminate the `unstub` deprecation warning. Thanks @myronmarston

[2015-07-22 09:19] gabehollombe opened #993 "Making the hash_including matcher's failure message be more helpful"
Hello awesome RSpec team!

Recently, I was using hash_including in a test, checking for the presence of quite a few keys in the hash.  When my test failed, I noticed that it the failure message didn't make it super easy for me to detect which values from my expected hash were missing from the actual hash.  Is this something you'd welcome a pull request for?

Example gist showing the current behavi

[2015-07-22 14:32] myronmarston commented on #993
What specifically do you have in mind for the improved output?  Can you paste a before/after example showing what is currently printed and what you'd like it to print instead?

[2015-07-22 23:11] JonRowe commented on #993
Absolutely, we actually do something a bit more advanced in `rspec-expectations` for the `a_hash_including` matcher but the argument matchers in mocks aren't as complicated. That might be a good place to start though however.

[2015-07-23 01:41] JonRowe commented on #993
@myronmarston this gist shows the before, I think it's reasonable to do what we do with the matcher in expectations and print the diff of keys we're looking for rather than the whole hash

[2015-07-26 20:42] jarmo commented on #203
Actually, I didn't think that this change as a backwards-compatible change. I'd be really fine if that would end up in 4.x series instead of not happening ever and being broken in future major versions as well.

I know what SemVer is and I'm following that with my own OSS libraries as well.

Thank You for all the good work so far!

[2015-07-28 09:38] JonRowe commented on #964
Hey @purbon did you ever get a chance to build those tests @samphippen was talking about?

[2015-07-28 10:22] purbon commented on #964
@JonRowe I apologies, not jet! I hope to do by soon, probably by the end of the week.

[2015-07-28 14:55] myronmarston commented on #986
OK, all repos now have a few files that explain the contribution process, and Github displays it when you open an issue or PR.

[2015-07-28 14:55] #986 closed

[2015-07-28 20:43] lizrush commented on #986
Rad, thanks guys! The suggested contributions list is really great & the checklist in development.md will be super helpful for future contributors! :information_desk_person: :tada:

[2015-07-28 22:25] rwz opened #997 "allow().to receive doesn't respect order"
[code]

This is expected to pass in both cases but only actually passes with `expect` syntax.

[code]

[2015-07-28 22:41] myronmarston commented on #997
If you want to return different sequential values for multiple calls, just pass multiple values to `and_return`:

https://relishapp.com/rspec/rspec-mocks/v/3-3/docs/configuring-responses/returning-a-value#specify-different-return-values-for-multiple-calls

The problem in your example is that stubs _replace_ earlier stubs rather than specifying responses for later calls.  This is intended to suppor

[2015-07-29 03:32] JonRowe commented on #997
We should probably stop people calling `ordered` on `allow`...

[2015-07-29 04:29] myronmarston commented on #997
Yep.

[2015-07-29 04:30] JonRowe commented on #997
I'll do that tonight

[2015-07-31 04:14] gabehollombe commented on #993
@JonRowe That sounds good.  Could you point me at the codie in rspec-expectations that does the hash key diffs.  I think we want to diff the keys of the two hashes, but also the contents (since two hashes could have the same key but differ on values).  Anyway, looking at the rspec-expectations code you've already got will give me a good starting point.

[2015-08-03 00:32] JonRowe commented on #993
I think reading rspec/rspec-expectations#780 would be a good place to start, its what implemented it on expectations I think

[2015-08-13 19:14] patrick99e99 opened #1003 "have_received with block argument is nil"
If I do:

    subject
    expect(foo).to have_received(:bar) {|&block| expect(block.call).to eq 'something' }

I get undefined method call for nil class-- block is nil inside the block.

But if I do:

    expect(foo).to receive(:bar) {|&block| expect(block.call).to eq 'something' }
    subject

Then it works.

[2015-08-17 09:07] robotfelix commented on #931
I've whipped together a simple patch for this problem, which fixes the problem for me. An `rspec/mocks/minitest_integration` file is added, which needs to be loaded after minitest.

For a future improvement, the refactoring suggested by @myronmarston (allowing the `Minitest::Expectation` class to handle `#to`, `#not_to` & `#to_not` directly) would save allocating an `RSpec::Mocks::ExpectationTarge

[2015-08-17 22:53] bunnymatic opened #1005 "have_received(:method).with(object1, object2) fails in 3.3.3 but not in 3.2.1"
We had a spec like this

[code]

where object1, and object2 are both ActiveRecord objects.
In 3.2.1, this test passed.  After the upgrade, it failed.  The failure report reads (roughly):

[code]

At first glance, it seems like the `expected` and `got` are, in fact, the same thing.  And the `Diff` shows empty.  I wonder if this is something about how the equality is computed.  I noticed a bunch of

[2015-08-18 01:49] myronmarston commented on #1005
I can't think of any changes between 3.2.1 and 3.3.2 that would cause this.

That would be great -- without that we have no way to guess at the specific circumstances of your failure.

[2015-08-19 15:51] myronmarston commented on #1003
Thanks for reporting this!  I've got a fix in #1003.

[2015-08-19 17:15] #1003 closed

[2015-08-21 09:35] purbon commented on #964
sorry, for being really late to this, going to work on this today :P I update this as soon as I get something up and working :smile_cat:

[2015-08-22 01:23] rwz opened #1008 "Proxy method with assertions"
At Heroku we're doing a massive refactoring of one of our biggest apps from using [RR](https://github.com/rr/rr) mocking library to pure rspec/rspec-mocks and one of the problems we're facing is the absence of "proxying" assertions.

To give you an example, in RR it's possible to do something like this:

[code]

which is roughly equivalent to Rspec's:

[code]

Basically, it creates an expectation

[2015-08-22 01:57] myronmarston commented on #1008
RSpec does support this directly:

[code]

Or, if you want to "wrap" the original and not just call it:

[code]

These are highlighted in our docs on configuring responses:

https://relishapp.com/rspec/rspec-mocks/v/3-3/docs/configuring-responses

Is there a way we could make these more visible?

[2015-08-22 01:57] #1008 closed

[2015-08-23 18:55] purbon commented on #964
Hi,
  I've been the last couple of days trying to make my way throw the jruby extensions, however I failed more or less like a little child. My project where I tried to do what we spoke is at https://github.com/purbon/jruby-ext-experiments, I would like to know what I'm doing wrong, do you know?

Thanks a lot,

hope to finally get this up and running! :-P

/pere

[2015-08-23 21:26] purbon commented on #964
@JonRowe @samphippen I finally managed to make happy jruby with the extension, was the name of the service not being the one :P, anyway! now the code in the repo works, but I could not make the test fail using the test case described by @samphippen, is the anything wrong with my implementation?

/cheers

[2015-08-24 05:48] purbon commented on #964
Hi again, I recall one slightly small thing in jrjackson that might be the situation that caused this test to fail, actually is this part of the code:

[code]

this is how methods are defined, so not using one name, but also two I guess with the idea of making aliases. Not sure if this is standard way to do it, but I updated the code in [1] and then if you use the module you can make the test to f

[2015-08-24 14:04] JonRowe commented on #964
/cc @samphippen

[2015-08-28 16:59] rwz opened #1010 "and_raise doesn't return self on any_instance matchers"
[code]

The result:

[code]

[2015-09-04 01:09] bunnymatic commented on #1005
Ok... i think i figured it out.  The output from Rspec was misleading.

The two objects that are passed in are Presenters built using SimpleDelegator.  The expected objects (in the with) were the base models, not presenters.  Something in the `to_s` was obscuring the fact that the actual values used when the method was called were the Presenter versions.  I'm not sure who's bug this is to fix (if

[2015-09-04 01:09] #1005 closed

[2015-09-04 17:49] shepmaster commented on #933
I continue to see these warnings with Ruby 2.2.3 and RSpec Expectations 3.2.1. Do we believe that the fixes mentioned above have been released?

[code]

[2015-09-04 18:24] myronmarston commented on #933
The fixes are in RSpec 3.3 so please consider upgrading.

[2015-09-04 18:39] shepmaster commented on #933
Ugh, of course. I did actually *try* upgrading, but I had other gems preventing upgrading to 3.3. Thanks for being patient with user error!

[2015-09-04 18:46] shepmaster commented on #933
Hmm. Still there. I guess I need to do more diving to get to the bottom of it:

[code]

[2015-09-09 15:42] shepmaster commented on #933
Ok, so the problem is due to something similar fixed in #924. I had code that boiled down to:

[code]

In my case, the fix is to be more defensive in the `<=>` method.

[2015-09-09 21:58] JonRowe commented on #933
Hmm so the warning was generated by your code but appeared to be coming from ours? I'm not sure what we can do to help with that

[2015-09-13 20:57] fgarcia opened #1011 "Request for help to clean custom DSL"
I am trying to write a custom DSL to do some "unethical" hack in my classes. Basically I want to prevent the definition of mocks/stubs in my specs and instead define named mocks/stubs directly into my classes. Something like this:

    class Person
      attr_reader :name
      attr_reader :mood

      def initialize(name, mood = 'happy')
        @name = name
        @mood = mood
      end

[2015-09-14 08:06] JonRowe commented on #1011
We provide methods for removing the 'should' syntax from use in RSpec, this should allow you to monkey patch your own methods in without encountering warnings (as it's simply not going through our code), I wouldn't recommend trying to add your own `stub!` method to our syntax definition, just define your own syntax module and include that were you need it.

[2015-09-14 08:07] JonRowe commented on #1011
If you look how we define our `allow` `expect` methods, this will also give you an idea how to define your own to setup our stubs as we expect, but using your own style of syntax.

[2015-09-14 08:07] JonRowe commented on #1011
Closing as this isn't an issue / feature request, happy to continue discussing / helping you to achieve your goals :)

[2015-09-14 08:07] #1011 closed

[2015-09-21 05:09] jeropaul commented on #756
I've got an old rails application (3.2.21) that I've just updated to rspec 3.0.x.

Anyway I have a few tests that stub configuration like:
`Rails.configuration.stub(:some_configuration_item => 'value')`

which unfortunately fails with a really unhelpful message because `railsties-3.2.21/lib/rails/railtie/configuration.rb` doesn't deal with the respond_to?(:method_name, include_all=false)

respond_

[2015-09-21 05:17] JonRowe commented on #756
Instead of stubbing one value on configuration replace it with a double? e.g.

[code]

[2015-09-21 05:28] jeropaul commented on #756
That's an awesome quick response, yeah that works.  Thanks

[2015-09-22 23:43] JonRowe commented on #1010
`and_return` and the like (including `and_raise`) is expected to be the last in the chain, we actually have specs for making sure thats the case, so this is expected behaviour.

[2015-09-22 23:43] #1010 closed

[2015-09-28 12:29] jvenezia opened #1014 "argument matcher: array_matching"
What do you think about `array_matching` wich checks if array matches regardless the order of the elements? I think this should be a default argument matcher. I'll pull-request this if you think it's a good idea.

[code]

[2015-09-28 14:59] myronmarston commented on #1014
What you're looking for is already available from rspec-expectations as `a_collection_containing_exactly`

http://rspec.info/documentation/3.3/rspec-expectations/RSpec/Matchers.html#contain_exactly-instance_method

If you want to be able to use `array_matching`, you can just use [`alias_matcher`](http://rspec.info/documentation/3.3/rspec-expectations/RSpec/Matchers.html#alias_matcher-class_method)

[2015-09-28 14:59] #1014 closed

[2015-09-28 15:06] jvenezia commented on #1014
Thanks @myronmarston !

[2015-10-03 12:23] agrimm opened #1016 "SystemStackError when decoration is involved"
Given the following the RSpec,

[code]

I get the following results

[code]

It seems that making the decorated object the target of the spec avoided the SystemStackError.

Also, once the code is exercised a bit, it seems to work ok. The third test is the same as the first, but it passes (the specs are order dependent in this case).

I've created an example app to replicate this issue. https://git

[2015-10-03 22:59] myronmarston commented on #1016
Thanks for reporting this!  This is definitely a bug but it's one that's not easily solved.  I boiled it down into a failing spec in c7efa414e88c840fe4824cb011948cc1b3296d69 (just pushed into the `expose-issue-1016` branch).  Here's what's going on, using your reproduction repo as an example:

1. On [line 10](https://github.com/agrimm/rpsec_stack_replication/blob/1212228e578a441ee1791765c1def5b173

[2015-10-14 20:37] jfelchner opened #1019 "Stubbing class from another gem does not stub when verify_partial_mocks is true"
I'm not 100% sure on the reproduction here so let me try to explain as best I can.  This started happening on `3.3`.  `3.2` works just fine.

We have a gem which imports another gem (they're both engines if it matters).  Let's call the gem I'm working in `Gem` and the gem I have as a requirement `RequiredGem`.

I can stub:

[code]

all day long.  Works fine.  But if I try to stub:

[code]

it does

[2015-10-14 20:46] jfelchner commented on #1019
To help you all narrow it down I tried it with `3.3.0`, `3.3.1` and `3.3.2`.  It's `3.3.0` where the problem was introduced.

[2015-10-14 21:05] myronmarston commented on #1019
Thanks.  Any chance you could put together a reproducible example?  Or maybe if you could run `git bisect` between 3.2.0 and 3.3.0 it would pin down the problem commit.

[2015-10-14 21:48] jfelchner commented on #1019
@myronmarston I'll be happy to bisect for you :)

[2015-10-15 01:16] jfelchner commented on #1019
@myronmarston looks like e5bfbcb75bca581924697ab0e9fd9447e9257b76 is the first bad commit.  Looking at it I can't see why, but that's what `git bisect` told me.

[2015-10-15 02:11] JonRowe commented on #1019
That should only affect ActiveRecord based models, but it's possible theres a side effect going on, can you try the bisect on rspec-rails itself?

[2015-10-15 02:26] jfelchner commented on #1019
@JonRowe I absolutely can and yes, it is an `ActiveRecord` object. As I said it's an engine so there are AR objects in there.

[2015-10-15 02:28] jfelchner commented on #1019
But it's also the case that I can stub AR objects in the engine under test just fine, but I have dependent engines which also have AR objects and that one fails.  I don't know if that's the actual reason for the failure but I'm just trying to give you as much info as possible.

[2015-10-20 07:29] alexdowad opened #1020 "Stack blown when conditions for a `respond_to?` method expectation are not met"
Given the following example code:

    expect(object).to receive(:respond_to?).with('method_name')

ANY call to `#respond_to?` which does not meet the expectation results in a `SystemStackError`, rather than the expected failure message.

This is because of `ErrorGenerator#default_error_message`, which calls `#join` on an array which contains the proxied object.

`Array#join` is implemented by `rb

[2015-10-20 07:38] alexdowad commented on #1020
I just came up with something else which makes this particular situation much better... though the potential is still there for RSpec to blow the stack when method expectations are put on methods which RSpec and/or MRI call internally.

Will send a PR promptly.

[2015-10-20 08:10] JonRowe commented on #1020
See #1013

[2015-10-20 08:30] masolin opened #1021 "Encounter not implement error with method stub"
Hi,
I tried to use method stubs with a real object rather than test double.
However, it will raise a not implemented exception when I use a real object.
Is this a design to force user to explicitly define a interface first? or just a bug? :confused:
Thanks a lot.
:smile:

[code]

[code]

[2015-10-20 08:35] #1021 closed

[2015-10-20 08:35] JonRowe commented on #1021
You've encountered the verify partial doubles feature, this feature fails your test if you stub a method that doesn't exist on a real object. :)

[2015-10-20 08:41] masolin commented on #1021
Thanks a lot. I will check the feature you mentioned. :smile:

[2015-10-20 15:30] myronmarston commented on #1020
Honestly, I think the solution is to not use `join` in `default_error_message`.  Instead just define a single string with interpolation.  `join` is convenient there but string interpolation should work better, anyway -- the `join` version of the method creates an extra array (an unnecessary object allocation) and does the extra `join` method send plus it causes the problem you've mentioned.

Want

[2015-10-20 16:35] alexdowad commented on #1020
@myronmarston Excellent idea! I like it. I'll send a PR.

What @JonRowe is working on is also necessary. On the one hand, RSpec shouldn't cause a method expectation to fail by calling the stubbed method internally. On the other hand, if a method expectation *does* fail, it shouldn't blow the stack. @JonRowe is addressing 1, your suggestion will address 2.

[2015-10-20 21:15] mrbrdo opened #1023 "stub_chain thread safety"
I think there might be a thread-safety issue with stub_chain.

I am occasionally getting this error:
[code]

I am testing code that is threaded (JRuby). The tests themselves are not threaded (i.e. not using something like parallel_tests).

The method being called which produced this error was stubbed in this way:

[code]

The issue doesn't occur very often and so is hard to reproduce for me.

Than

[2015-10-20 21:46] JonRowe commented on #1020
Myron this bug has nothing to do with that join call, my understanding
is it's triggered by the visibility check on the second expectation and any
code that hits this part of the code will suffer from it so irrespective of
the solution for expectations this should be merged

[2015-10-20 21:52] myronmarston commented on #1020
@JonRowe: my suggestion of avoiding the `join` call was based on reading what @alexdowad said above, where he explained that `Array#join` causes MRI to send the `respond_to?` message which in turn triggers stack overflow.  As demonstrated by #1022, removing the `join` call does in fact fix the specific instance of the issue @alexdowad ran into and documented with the spec he added there.  The spec

[2015-10-20 22:01] JonRowe commented on #1020
Yep sorry, I got confused when replying via email :P

[2015-10-20 23:14] #1020 closed

[2015-10-20 23:39] JonRowe commented on #1023
RSpec isn't entirely thread safe but it is something we're working towards, 3.x contains improvements towards thread safe mocks (in particular fixing a deadlock issue) but those fixes won't be back ported to 2.99 (as we're not maintaining 2.x). Can you try this on 3.x and reopen if it reoccurs?

[2015-10-21 18:50] nkall opened #1025 "allow_any_instance_of().to_receive cannot yield multiple times"
When using allow_any_instance_of() instead of allow(), chaining multiple and_yield()s throws an error.  So either of these work fine:

    allow(Klass).to_receive(:method).and_yield(1).and_yield(2)
    allow_any_instance_of(Klass).to_receive(:method).and_yield(1)

But attempting the following:

    allow_any_instance_of(Klass).to_receive(:method).and_yield(1).and_yield(2)

Results in a `NoMethodEr

[2015-10-26 13:27] leandro opened #1028 "[Feature] General stubbing with `.should_receive(anything)` or `double.as_null_object(:default_return)`"
The idea is to be able to mock or stub irrelevant objects (to the given test case concerns) one wants to simply bypass in oneself code logic. So, if one has an object `obj` that is referenced multiple times in the logic with multiple different method calls, one would like to bypass those calls and return any specific value for them instead getting instances like `#<RSpec::Mocks::Double:0x3fe22cd3d

[2015-10-26 15:22] myronmarston commented on #1028
I think we could do something like this (although I'd probably make the API `as_null_object(returning: 1)`).

`allow(object).to receive(anything) { 1 }`/`object.should_receive(anything) { 1 }` is hard to do performantly (they'd have to iterate over all methods defined on the object and stub each individually, which is going to be relatively slow) and, IMO, don't really make sense, anyway.  If you

[2015-10-26 17:12] leandro commented on #1028
Sounds fair. I'll give it a try (by sending a PR).

Thanks.

[2015-10-28 00:54] itsmechlark opened #1029 "Undefined method `allow`"
I encounter problem with `undefined method `allow'` and I couldn't find any solution in web so I end up here. Thanks.

[code]

[code]

rspec v3.3.0
rspec-core v3.3.2
rspec-expectations v3.3.1
rspec-mocks v3.3.2
rspec-rails v3.3.3
rspec-support v3.3.0

[2015-10-28 01:32] ptrikutam commented on #777
@myronmarston I'm still having this issue, except it fails on this line for me:

https://github.com/rspec/rspec-mocks/blob/v2.99.4/lib/rspec/mocks/test_double.rb#L81

Any thoughts on what I can do to fix?

[2015-10-28 02:33] ptrikutam commented on #777
I've got a fix in the commit (https://github.com/somawater/rspec-mocks/commit/bb6ec2e3afada1b571bdea38a61d2da0f44e624b) referenced above, but to be frank I don't know the implications of not assigning `@__unfrozen_attributes` if the value isn't present.

How can I test this change I've made so that I know I'm not breaking anything?

[2015-10-28 02:33] ptrikutam commented on #777
FYI this occurs only in tests where where I'm using `.as_null_object`.

[2015-10-28 02:39] JonRowe commented on #777
Does this occur on 3.3?

[2015-10-28 03:28] JonRowe commented on #1029
Do you have the expect syntax enabled? (Check your `rails_helper` / `spec_helper`)

[2015-10-28 03:54] itsmechlark commented on #1029
I found the problem, I didn't remove the `mocha`. Thanks.

[2015-10-28 03:54] #1029 closed

[2015-10-28 04:44] ptrikutam commented on #777
It does not. It's only for 2.99.

[2015-11-03 00:41] georgeu2000 opened #1030 "Pull request for Relics docs?"
I found a typo in the rspec-mocks Relish docs. How can I do a pull request?

[2015-11-03 01:53] JonRowe commented on #1030
Relish documentation is driven from the cucumber scenarios.

[2015-11-03 22:31] ulugbekov opened #1031 "BooksController :create action test with rails 4.2 and rspec"
[code]

ArgumentError:
       wrong number of arguments (1 for 0)

Why is it complaining?

[2015-11-03 22:37] myronmarston commented on #1031
Can you run your spec with '-b' to print the full backtrack and paste that?

[2015-11-03 22:43] ulugbekov commented on #1031
1) BooksController POST create sends new message
     Failure/Error: allow(Book).to receive(:new).with(params) { book }
       Wrong number of arguments. Expected 0, got 1.
     # /Users/aulugbekov/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rspec-support-3.3.0/lib/rspec/support.rb:86:in `block in <module:Support>'
     # /Users/aulugbekov/.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/rspec-su

[2015-11-03 22:54] JonRowe commented on #1031
[code]

[2015-11-03 22:56] georgeu2000 commented on #1030
Got it. Thanks.

https://github.com/rspec/rspec-mocks/pull/1032

[2015-11-03 22:56] #1030 closed

[2015-11-03 23:28] ulugbekov commented on #1031
Thanks for comment.
let is for sure outside of it block. params is local variable. But those are not real issue. Real issue is with allow and receive.

[2015-11-04 00:26] myronmarston commented on #1031
Can you paste your definition of Book#initialize? Book.new delegates to that and we use the signature of #initialize to validate arguments.

[2015-11-04 02:40] ulugbekov commented on #1031
It is inheriting rails active record.
Instead of what we used to do like stubbing rails models, I am trying to do it with rspec allow method. It should work out of the box. I tested both initialize and new returns -1 for arity from mock_model("Book"). But it is complaining. I am also trying to debug rspec-mocks gem internals, but did not succeed yet.

[2015-11-04 02:44] JonRowe commented on #1031
Can you paste your controller implementation?

[2015-11-04 02:57] ulugbekov commented on #1031
@book = Book.new(book_params)

regular rails 4 way

[2015-11-04 03:03] JonRowe commented on #1031
Full code snippets are preferred if you'd like our help, we actually have plenty of tests showing the "regular way" works fine so this must be an edge case caused by something unusual so unless you can provide us with a snippet that actually doesn't work (so far your spec works for me)

[2015-11-04 03:07] ulugbekov commented on #1031
Hi,
Nothing special. Just rails scaffold.
I am really surprised that it is working for you.
# POST /books
  # POST /books.json
  def create
    @book = Book.new(book_params)

    respond_to do |format|
      if @book.save
        format.html { redirect_to @book, notice: 'Book was successfully created.' }
        format.json { render :show, status: :created, location: @book }
      else
        for

[2015-11-04 03:09] ulugbekov commented on #1031
I am debugging gem internals. Here is the result. Still debugging. Looks like initialize method.
#<RSpec::Mocks::VerifyingExistingClassNewMethodDouble:0x007fde0c699c58>
#<UnboundMethod: Book(BasicObject)#initialize>

[2015-11-04 03:12] JonRowe commented on #1031
Can you paste your `Book` implementation like @myronmarston asked?

[2015-11-04 03:16] ulugbekov commented on #1031
Sorry I missed that,
it is simple class.
What I wonder is I am allowing :new method to be called with params, and why it is trying to verify signature on initialize. I did not request that to be checked.
class Book < ActiveRecord::Base
end

[2015-11-04 03:19] JonRowe commented on #1031
By default we validate doubles against their implementations, the implementation of new calls initialize so we use that to validate the double.

[2015-11-04 03:21] JonRowe commented on #1031
Can you swap `mock_model` for `double` for me? `mock_model` is actually provided by a 3rd party gem now.

[2015-11-04 03:31] ulugbekov commented on #1031
Ye, it is working as expected. No errors

[2015-11-04 03:31] #1031 closed

[2015-11-04 03:32] JonRowe commented on #1031
This is not an issue with mocks then, we need to figure out why this isn't working in `rspec-activemodel-mocks`

[2015-11-04 03:40] JonRowe commented on #1031
I'm just working up a spec for an issue over on `rspec/rspec-activemodel-mocks`

[2015-11-04 04:44] ulugbekov commented on #1031
Thanks

[2015-11-04 23:28] soulcutter opened #1033 "Add cucumber documentation for class_spy and instance_spy"
It's a short leap to guess that `class_spy` and `class_double` exist because `double -> spy`, however it would still be nice to have official cucumber documentation for this.

[2015-11-08 06:38] JonRowe commented on #1031
Update, so it's the fact that Rails hasn't loaded `Book` when you first use `mock_model` that triggers this behaviour, `mock_model` creates a 'false model' for book to use and it's that model rspec uses to verify `Book`s behaviour.

[2015-11-08 08:36] ulugbekov commented on #1031
I know that.
So, how are we going to use mock_model. We have to test new method. But it tests initialize which do not take any args, cause it is fake model. Somebody should fix that issue.

[2015-11-08 08:52] myronmarston commented on #1031
Why do you need `mock_model` at all?  What benefit is it giving you over `instance_double(Book)`?

`mock_model` is no longer part of rspec-rails precisely because of complexities like these -- it took significant effort to support and we don't generally have the time to provide the kind of first-class support for it that users expect for features that we ship with the gems we maintain.

[2015-11-08 08:59] ulugbekov commented on #1031
I know people have different test preferences, instance_double can't create class Book if it does not exists? mock_model does if there is not Book class.

[2015-11-08 09:06] myronmarston commented on #1031
`instance_double` isn't meant to create any classes, but it can be used when the named class does not exist if you pass it a string name.  `class_double` will create the constant if it does not exist if you do `class_double("Book").as_stubbed_const` so that's a possibility if you prefer.

Anyhow, it seems like the problem with `mock_model` is that the fake version of the class doesn't define `init

[2015-11-08 09:10] ulugbekov commented on #1031
:)
It is ok. I will be using latest your approach. Do not want to have other headaches on my way of testing. Thanks for heads up.

[2015-11-10 19:49] illegalnumbers opened #1034 "Mocks appear to persist across context in rspec-mocks v 3.3.2"
I have a test setup that runs using the database cleaner style of RSpec tests, keeping tests atomic. The problem with this is that some of my models use the after_commit callback which doesn't get thrown in my test environment. I get around this by manually calling the callback in certain tests. The tests themselves run a Sidekiq job that is used and tested in different areas. The tests work fine

[2015-11-10 20:12] myronmarston commented on #1034
WebMock mocks are not rspec-mocks and are not directly tied in to the rspec example life cycle.  I believe you have to tie them in yourself so that they don't leak between tests.

[2015-11-10 22:24] JonRowe commented on #1034
You need to call `WebMock.reset!` after each example, this can be done with a configuration hook or by requiring `webmock/rspec` which will do this for you.

[2015-11-10 22:53] bytenel commented on #1034
Thanks guys! I will try this later and double check. Hopefully that's all the problem was. I didn't realize WebMock leaked like that.

[2015-11-10 22:55] JonRowe commented on #1034
It's not leaking it just needs to be setup correctly.

[2015-11-10 23:28] myronmarston commented on #1034
WebMock is a generic tool that can be used in any test framework and outside any test framework, and thus it assumes nothing about your environment and you need to configure it to work how you want.

[2015-11-12 09:17] dg-ratiodata opened #1035 "class_double and `is_a? Class`"
Hey @myronmarston, hope you're doing fine? Recently I tried to use `class_double` and `stub_const`.

[code]

Somewhere in the code I would like to do the following:

[code]

I read your comments in #794, but maybe this use case is different. From my understanding an `class_double` should return true if some asks it, if it is a class?

[2015-11-12 11:14] JonRowe commented on #1035
You have to stub `is_a?` to return `true`, it's an instance of a `ClassVerifyingDouble` and we don't lie to Ruby so you'll have to do this manually:

[code]

[2015-11-12 11:14] #1035 closed

[2015-11-12 11:39] dg-ratiodata commented on #1035
Ok. Sure. Damn...

[2015-11-12 12:46] tansaku commented on #418
what about in feature tests where you are stubbing out a 3rd party service, and you are operating via capybara to hit a web interface?

[2015-11-12 22:06] JonRowe commented on #418
In that situation you should use something like `webmock` to mock out the service endpoint. You shouldn't mock the internals of code you don't own, especially in an acceptance test.

[2015-11-12 23:19] bytenel commented on #1034
Thanks for the support guys! It appears even after adding in the require statement that the problem persists in my other tests.

[2015-11-12 23:21] myronmarston commented on #1034
You'll have to seek support from WebMock's maintainer then.  If you see that behavior from an rspec mock we'd certainly dig in more.

[2015-11-13 00:23] bytenel commented on #1034
I appreciate it. I will certainly post in the WebMock issue tracker. The odd part is that the thing that causes the tests to fail is just adding in additional tests that have rspec-mock mocks setup in the individual tests within their own separate context. I think the issue may be separate from WebMocks due to this. I have a couple of objects that have async workers (using Sidekiq) that I mock som

[2015-11-16 05:02] samphippen commented on #964
I've handed the repro case over to @headius who confirms this is real, see the linked JRuby issue for details.

[2015-11-20 16:51] badpk opened #1038 "stubbing rails route helper fails in Rails 4.2.5"
The following rspec test works in Rails 4.2.4 but breaks in Rails 4.2.5.

[code]

I am using rspec-rails 3.4.0

[2015-11-21 00:49] samphippen commented on #964
This was fixed by https://github.com/jruby/jruby/issues/3463

[2015-11-21 00:49] #964 closed

[2015-11-21 00:49] samphippen commented on #964
Thanks @headius

[2015-12-04 15:10] Bartuz commented on #921
@myronmarston do you consider using `receive_message_chain` to stub chained scopes on model as code-smell?

[2015-12-04 16:08] myronmarston commented on #921
Yes.

Sent from my iPhone

[2015-12-04 16:20] Bartuz commented on #921
So how should I write expectation for scopes? Does the example below make any sense? I have the idea to add new spy for each chained scope and than expectation on it

[code]

I've tried to connect scopes together (like `scope :with_color_and_shape, ->(color,share) {  ... }`) so I could just do `expect(Model).to receive(:with_color_and_shape).with(color, shape) {}` but I ended up with huge scope ta

[2015-12-05 07:33] myronmarston commented on #921
Remember that a "code smell" isn't a rule and for nearly every code smell, there's a situation for which the trade off to use the smelly code makes sense.  I don't have any good advice for rails because I'm not a rails user and haven't been since Rails 2.

[2015-12-06 22:52] JonRowe commented on #921
@Bartuz the common rule of thumb would be to combine the scopes at the model level, but this isn't always going to to be pretty either as you've found out. The only real way to resolve this "smell" is to refactor your design to not need to reach in across so many scopes, but I appreciate that's sometimes not possible / desirable. As @myronmarston says there are sometimes exceptions to rules and as

[2015-12-07 01:15] jfelchner commented on #1019
@JonRowe this has been a couple months and, although the problem still exists, I've had to turn my attention to other projects.  Feel free to close this if you deem it necessary.

[2015-12-07 03:13] JonRowe commented on #1019
I think this belongs as an issue with rspec-rails, if you can provide a reproduction feel free to open there.

[2015-12-07 03:13] #1019 closed

[2015-12-12 21:34] ahorek commented on #1038
Hi, it looks like it's related to this commit https://github.com/rails/rails/commit/0acd4a57768fc3c7e758f9f4b26563797f43e7ef

[2015-12-13 20:48] peter-murach opened #1040 "rspec-mocks 3.4.0 on rubinius 2 fails for have_received matcher"
Running rspec `v3.4.0` on `Rubinius` I get the following error:
[code]
To see full report please [see](https://travis-ci.org/peter-murach/tty-prompt/jobs/96620536#L205)

Reverting back to rspec `v3.3.0` fixes the issue. Looking at the changelogs I can see there were some changes done to the `have_received` matcher?

[2015-12-15 22:55] jrafanie opened #1041 "Ruby 2.3.0-preview2 generates ruby warnings and fails many stub/double tests -"
I'm seeing issues with ruby 2.3.0-preview2 when rspec stub/doubles are involved where the wrong super method is being invoked.  This is probably [too much information but here it is](https://github.com/ManageIQ/manageiq/issues/5814) in case you want to how I got to this issue.

Because of that failure, I tried the rspec-mocks test suite with both 2.2.3 and 2.3.0-preview2 and noticed ruby warnings

[2015-12-15 23:20] jrafanie commented on #1041
I just noticed the ruby-head tests are also failing with the same errors:
![screen shot 2015-12-15 at 6 18 21 pm](https://cloud.githubusercontent.com/assets/19339/11827181/514630f0-a358-11e5-9fa4-bf8e7a64e498.png)

See: https://travis-ci.org/rspec/rspec-mocks/jobs/95425009

[2015-12-15 23:22] jrafanie commented on #1041
cc @JonRowe @myronmarston (I didn't see this reported elsewhere)

[2015-12-15 23:33] JonRowe commented on #1041
Thanks for reporting this, we haven't tried `2.3.0` ourselves yet, it's worth noting that this is fairly typical of a Ruby preview, and the final version may work as before.

[2015-12-16 00:02] jrafanie commented on #1041
I'm glad to help @JonRowe.  Thanks.  I didn't see a bug reported in https://bugs.ruby-lang.org/projects/ruby-trunk/issues?set_filter=1&tracker_id=1 that resembled the symptoms I was seeing. Please let me know if I can help in any way.

[2015-12-16 01:20] JonRowe commented on #1041
If you'd like to take a stab at fixing the issues please feel free!

[2015-12-16 19:52] jrafanie commented on #1041
@JonRowe Note, It looks like the reported problems are just warnings that we're capturing in the tests and asserting that no warnings were raised.  I found a different bug that is actually the problem I hit in my project.  I'll leave this issue for "figuring" out why we're getting warnings that cause our assertions to fail.

[2015-12-16 19:56] jrafanie opened #1042 "RSpec mocks isn't properly rolling back stubbed any_instance methods with ruby 2.3.0-preview2"
The gist below causes randoms errors depending on the order of the tests but shows that with either rspec 2 or 3 ruby 2.3.0-preview2 randomly fails because the super method is wrong in a different test after a prior test stubbed the method with any_instance.

https://gist.github.com/jrafanie/c94e4c8a4f940e71c9e6

The gist passes with ruby 2.2.3 every time I have run it.

I think the problem is som

[2015-12-16 22:46] JonRowe commented on #1042
It's likely theres a bug caused by Ruby 2.3.0, historically this does happen with preview Rubies but is normally sorted by release day. If this still occurs in final we'll fix it naturally :)

[2015-12-16 22:53] JonRowe commented on #1041
Yeah thats expected behaviour (the warnings causing failures)

[2015-12-16 22:59] JonRowe commented on #1040
Have you tried requiring the matcher manually? Rubinius has some weird behaviours sometimes for us and won't compile things so breaks. (Which is historically why we don't allow it to fail our travis build)

[2015-12-16 23:35] jrafanie commented on #1042
@tenderlove This is the bug with 2.3.0-preview2 I mentioned... maybe you can help me on this one?  :pray: I can't tell if it's a ruby bug yet, hence it's here...

This looks like a possible cause:  https://github.com/ruby/ruby/blob/v2_3_0_preview2/ChangeLog#L5720-L5834

[2015-12-17 14:18] jrafanie commented on #1042
Seems related to the #1041

[2015-12-17 19:50] tenderlove commented on #1042
@jrafanie I'm looking in to it! :)

[2015-12-17 21:17] jrafanie commented on #1042
Thanks :heart:, let me know if I can help.

[2015-12-17 22:44] tenderlove commented on #1042
I bisected the problem to ruby/ruby@c8854d2ca4be9ee6946e6d17b0e17d9ef130ee81

I'll try to reduce the repro case so we can report an issue. /cc @ko1

[2015-12-17 22:45] tenderlove commented on #1042
(though it could very well be a bug in rspec-mock, judging from the commit message)

[2015-12-17 22:46] myronmarston commented on #1042
Thanks for helping with this, @tenderlove!

[2015-12-17 23:58] tenderlove commented on #1042
I'm not sure how to fix this, but I think the behavior in Ruby 2.3 is the *correct* behavior.

First, `backup_method!` [copies the method we'd like to stub by using an alias](https://github.com/rspec/rspec-mocks/blob/b94e242ebbc51081fc2245e37c574f5d6d02b7f8/lib/rspec/mocks/any_instance/recorder.rb#L206-L211).  Since `@klass` in this case is `SmallCircle` the `area` method is **copied** as `alias_m

[2015-12-17 23:59] tenderlove commented on #1042
Here is a short script I wrote to demo:

[code]

On Ruby 2.2 it will print 1 and 2, and on Ruby 2.3 it raises an exception.

[2015-12-18 04:46] jrafanie commented on #1042
Wow, that makes total sense now @tenderlove. Thanks for looking into it. I wonder if there's similar code in other mocking libraries that relied on the bug that is now fixed in 2.3.0. I'm not quite sure how to fix it. I'll need to think about it.

[2015-12-18 17:00] jrafanie commented on #1042
@tenderlove This bug fix in 2.3.0-preview2 also breaks minitest-stub_any_instance, see: https://gist.github.com/jrafanie/5f45ce478a024621ff14  cc @codeodor

[2015-12-18 17:09] jrafanie commented on #1042
The code in https://github.com/codeodor/minitest-stub_any_instance/blob/master/lib/minitest/stub_any_instance.rb looks nearly identical to the way rspec-mocks is doing it as @tenderlove described [above](https://github.com/rspec/rspec-mocks/issues/1042#issuecomment-165619420)

[2015-12-18 17:45] jrafanie commented on #1042
Ah, it looks like Mocha is unaffected by this change.

https://github.com/freerange/mocha/blob/master/lib/mocha/any_instance_method.rb

I think the problem is we need to back up the method `unless @klass.instance_method(method_name).owner == @klass`.  Right now, we're doing it on the restore_original_method! and it's too late since the method was backed up into `@klass` so it will always be the ow

[2015-12-18 17:46] jrafanie commented on #1042
Specifically, this is the line in mocha that made me think checking the method owner beforehand is the way to go:  https://github.com/freerange/mocha/blob/599b1dcd3381945d01981d7f99f43aa0e545af12/lib/mocha/any_instance_method.rb#L19

[2015-12-18 17:50] myronmarston commented on #1042
Thanks for the detailed explanation, @tenderlove, and for looking into this @jrafanie.  These sorts of complexities are why we generally recommend against using any_instance.

@jrafanie -- your idea sounds right.  In this specific example, since `SmallCircle` does not originally have an implementation of `area` defined on its class, I don't think we have to backup and restore the method at all --

[2015-12-18 17:54] jrafanie commented on #1042
Yes, I'm working on it @myronmarston... trying to add a failing test for the existing behavior.

[2015-12-18 17:54] tenderlove commented on #1042
:+1:

It also seems possible that rather than targeting the class the user passed in, use the `owner` on the instance method:

[code]

Unsure if it will work in all cases though.

[2015-12-18 18:15] codeodor commented on #1042
@jrafanie thanks for looping me in and providing that demo. I'll work on the implementation there when I get a chance.

@tenderlove thanks for confirming it's not a Ruby bug.

[2015-12-18 21:16] jrafanie commented on #1041
For reference, I had to temporarily hack rspec-support to even test ruby 2.3.0-preview2 with rspec-mocks locally, see #1043

[2015-12-18 21:20] jrafanie commented on #1042
@JonRowe @myronmarston @tenderlove please review #1043.

Note, I tried to avoid "the backup/restore" for methods not owned by the class but I think we need to backup this method so we can track when it's invoked, args passed to it, expectations, etc.  It wasn't that obvious how to disable the backup/restore of the method for non-owning classes while still keeping the recorder/invocation and argume

[2015-12-22 18:13] xaviershay opened #1044 "Symbol#to_proc with and_yield not working on JRuby"
Discovered by @nerdrew, who is sitting next to me reporting this.

[code]

This passes on CRuby 2.2.2, but fails on JRuby 1.7.20.

[code]

My first guess is JRuby optimizing code different to CRuby ... I think `and_yield` should still work in this case. Not sure if this bug is in RSpec or JRuby. cc @headius in case
### Possible different RSpec bug

Shouldn't `A.hello(&:to_s)` return `nil` rather t

[2015-12-22 18:19] headius commented on #1044
Also fails the same way in JRuby 9k HEAD.

[2015-12-22 18:23] headius commented on #1044
I'm really confused what this is specifying. There's no yield, so how would `and_yield` anything? I see the `&:to_s` getting passed as the block to `A.hello` but should't the `and_yield` fail in any case since `hello` never yields?

[2015-12-22 18:29] headius commented on #1044
Ok, if I'm reading the code for `and_yield` right, it's a forcing behavior for a mock, making the message always yield a given result. So in this case, the `receive` acts as an expectation, but the `yield` will *always* cause that message reception to yield the given value. It's not part of the expectation.

It passes in MRI because the yield happens, producing `"1"` which matches the expectation.

[2015-12-22 18:38] headius commented on #1044
Ok, the error is rspec verifying that the block can accommodate the requested yield arguments. It fails because JRuby does not report proc'ified core methods as `[[:rest]]` so it never gets to the point of trying to yield.

[code]

This is a JRuby bug in 1.7 and 9k.

[2015-12-22 18:44] xaviershay commented on #1044
Thanks for quick reply! Sorry repro was confusing, I agree it's not testing anything :) For context, came across this in code more like:

[code]

... which works, but then the block was refactored to `&:read` and the test started failing.

[2015-12-22 18:45] xaviershay commented on #1044
We (RSpec team) should consider a workaround to not verify arguments if on affected versions of JRuby.

[2015-12-22 18:49] headius commented on #1044
The fix is simple and I've already pushed a [spec for rubyspec](https://github.com/ruby/rubyspec/commit/26173392adf88f36e516ff2b2816a5c301cec2f5). Fix should be in next releases of JRuby 1.7 and 9k.

[2015-12-22 18:50] headius commented on #1044
FWIW, Rubinius's output for a `Symbol#to_proc`'s `Proc#parameters` differs from MRI, but it should work ok here:

[code]

[2015-12-22 20:26] myronmarston commented on #1044
Thanks for the quick fix, @headius!

It is slightly odd, but it's intentional behavior.  We have [a spec](https://github.com/rspec/rspec-mocks/blob/master/spec/rspec/mocks/double_spec.rb#L423-L428) for it.  Here's how I think of it.  A stubbed method begins empty:

[code]

...and then when you chain `and_yield`, it adds the yield:

[code]

At this point, the implementation will return whatever the

[2015-12-22 20:47] xaviershay commented on #1044
Fair enough, I don't have strong feelings about it.

[2015-12-29 18:01] peter-murach commented on #1040
Adding the following to `spec_helper` fixes the issue
[code]
However, still it is a bit of a mystery to me why it fails without manually requiring it as I'm using this matcher in other projects with `rspec 3.4.0` and it works just fine. One difference with other projects is that this one doesn't directly require spec_helper but uses the dot file. I've tested this theory as well and the matcher was

[2015-12-29 18:01] #1040 closed

[2015-12-29 23:39] envygeeks opened #1045 "allow with wrap_original does not work on JRuby"
The following:

[code]

Will not work on JRuby.

[2015-12-29 23:39] envygeeks opened #1046 "allow with wrap_original causes a segfault on Ruby 2.1"
The following:

[code]

causes Ruby 2.1 on Travis-CI to segfault, this is constantly reproducable.

[2015-12-29 23:51] JonRowe commented on #1046
Segfaults are not normally anything to do with rspec but the underlying Ruby implementation, out of curiosity what happens when you change `method` to `method_name`?

[2015-12-29 23:52] JonRowe commented on #1045
Huh so is this a jruby bug?

[2015-12-29 23:52] JonRowe commented on #1040
I suspect the answer with be "because Rubinius" sadly :/

[2015-12-30 00:33] envygeeks commented on #1046
It's the keywords causing the segfault, and it only happens in RSpec so I assumed the ticket should originate here so we can track down what in RSpec causes the segfault so we can then file a ticket on Ruby.

[2015-12-30 00:35] envygeeks commented on #1045
Yes, but I cross posted just incase one of them can provide some insight that might lead it to being a bug here because I'll be honest, I don't know, I was just playing with kwd wrapping and deduplication of our specs and discovered all this stuff months ago but finally got around to filing it now that I had a few minutes to replicate it and start filing.

[2015-12-30 00:38] envygeeks commented on #1046
I'll also be quite honest that the latest Ruby 2.1 did fix a segfault in enumerator so tomorrow I'll actually test this against the latest 2.1 and close it if it doesn't segfault with that method.

[2016-01-01 00:37] #1041 closed

[2016-01-04 06:54] headius commented on #1042
This also works like 2.2 in JRuby because when we alias, we just copy a reference to the original method. The original method still thinks its implementer is Circle and so super'ing proceeds up to Shape rather than doing a "dynamic" super from SmallCircle to Circle. This is an issue with how we handle copying methods around...an issue it seems MRI has fixed in 2.3.

@enebo This is another case whe

[2016-01-04 18:44] seanlinsley opened #1050 "receive_message_chain does not work with expect_any_instance_of"
This code causes RSpec to fail internally:
[code]

Here's the stack trace:
[code]

And a pry session showing the internal state at the time:
[code]

[2016-01-06 17:30] #1042 closed

[2016-01-11 12:28] kiliancs commented on #1025
I'm experiencing the same problem.

[2016-01-14 15:53] nepalez opened #1055 "Too strong restriction for matchers"
Seems like the requirement `only the 'receive', 'have_received' and 'receive_messages' matchers are supported with 'allow(...).to'` is too restrictive.

For example, I provide the matcher, that is sort of [semi-transparent extension for the `receive`](https://gist.github.com/nepalez/ac049b788c369e8d98a3#file-receive_request-rb-L59-L65)

I believe it could work, but it doesn't because of the restri

[2016-01-14 16:05] #1055 closed

[2016-01-14 16:08] nepalez commented on #1055
Actually I understood that a proposed solution is not sufficient. What I do need is a way to extend receive matcher to make it accessible to both `expect` and `allow` (my solution doesn't do this)

[2016-01-14 16:35] myronmarston commented on #1055
Exactly.  Matchers in general don't work with `allow`.  `allow` doesn't even use the matcher protocol, because it has to act differently than `expect` does.  It actually calls `setup_allowance` on the matcher, but that's not a published public API.

I think you could get `allow(client).to receive_request(:get, url)` to work if you define `receive_request` as a method that delegates to `receive` in

[2016-01-15 11:49] nepalez commented on #1055
Hi, @myronmarston, and thank you for the suggestion!

Yes, this is [what I've done eventually](https://gist.github.com/nepalez/7a33e39d5fc3162c0ba2#file-receive_request_1-rb-L46-L51).

Though this works, still there is one more issue. Seems like the restriction requires exact classes (`RSpec::Mocks::Matchers::Receive` and so on) for the allowance matchers. If it **allowed subclassing too**, I coul

[2016-01-15 14:57] myronmarston commented on #1055
Looking at the [implementation](https://github.com/rspec/rspec-mocks/blob/v3.4.1/lib/rspec/mocks/targets.rb#L20-L29), it looks like it does allow subclasses (using classes in a `case` statement will match on instances of that class or any subclass).

What makes you say it does not allow subclassing?

[2016-01-15 15:14] nepalez commented on #1055
In the exampe as shown above, I received:

[code]

[2016-01-15 15:18] myronmarston commented on #1055
Can you push up a repo containing a reproducible example?

[2016-01-15 15:23] nepalez commented on #1055
I'll try doing this a bit later, because its a part of private repo. Need some time to carefully extract it from there

[2016-01-15 15:34] nepalez commented on #1055
Well, i've decided to provide a simplest one :)

[code]

[2016-01-16 07:05] myronmarston commented on #1055
Thanks for the example.  I see the problem now.  The case statement I referred to before is used for a different situation.  The check for this situation is here:

https://github.com/rspec/rspec-mocks/blob/42ef957e0af1813c0933f29588121e78fadb8244/lib/rspec/mocks/targets.rb#L40-L42

...which just looks at the matcher class name (it's a simple way to ask, "is this one of the rspec-mocks matchers?")

[2016-01-16 07:06] myronmarston commented on #1055
Also, I meant to ask: are you willing to work up a PR to fix this?  It's generally hard for us to find time for things like this that only one user has asked for.

[2016-01-18 23:08] JonRowe commented on #1025
Closed by #1054

[2016-01-18 23:08] #1025 closed

[2016-01-19 05:06] shigi opened #1057 "Aliased method disapper on rspec-mocks 3.4.1"
[code]

This works fine on rspec-mocks 3.4.0.
But on rspec-mocks 3.4.1, below error occurs.

[code]

The version of Ruby is 2.1.5 and 2.2.3.

[2016-01-19 05:12] myronmarston commented on #1057
I think #1043 is the source of the problem.  I don't understand how it causes the failure yet, though.

[2016-01-21 16:34] vemv opened #1058 "`receive` expectation: (optionally) enforce to specify whether a method should be stubbed"
### The problem

Given the following example:

`expect(my_object).to receive(:foo)`

As of today, this implicitly tells rspec-mocks to stub the `foo` method. But that's not what the Ruby code says!

The Ruby code says "this object should receive this method". Nothing else. Nothing stub-related.

So, 90% of the times what I end up writing is:

`expect(my_object).to receive(:foo).and_call_original`

[2016-01-21 17:47] mrbrdo commented on #1023
I'm still getting the error on 3.x, this is how I stubbed:
`allow_any_instance_of(SomeClass).to receive(:mobile?) { false }`

Backtrace:
[code]

Another similar backtrace from another case:
[code]

I can't reopen this issue myself it seems.

[2016-01-21 17:48] myronmarston commented on #1023
Reopened.

[2016-01-22 00:23] JonRowe commented on #1058
Personally I'm leaning against this, RSpec Mocks is a mocking and stubbing library, thus the inferred default for a partial double like this is to stub. It's well documented that this leads to a `nil` response by default. It's also considered kind of a test smell to use `and_call_original` as it's generally better to isolate collaborators in unit tests not just assert they're called. It's worth no

[2016-01-22 00:34] vemv commented on #1058
Worth noting that there a different styles of testing. One size rarely fits all. An opt-in functionality surely doesn't hurt?

Well, for many years I've (occasionally) suffered this issue without realising that a better API could have prevented all the lost time / frustration. Similarly, it's possible that many people haven't realised this possible improvement, therefore they haven't asked for thi

[2016-01-22 00:46] myronmarston commented on #1058
It's true that @vemv is the first to request this feature, but I've heard from multiple users over the years that were surprised by the fact that `expect(my_object).to receive(:foo)` prevents the original `my_object.foo` logic from executing when the message is received, so a change to make it less confusing is not out of the question.

I'd note a few things, though:

* `and_<anything>` off of `ex

[2016-01-22 01:00] vemv commented on #1058
I think I understand your point: requiring users to expect specific values is not the average intended use of rspec-mocks.

Perhaps my original proposition can be tweaked so it makes sense for everyone?

Let's say now that under the opt-in setting, one of the two would be acceptable/recommended:

* `expect(my_object).to receive(:foo).and_return(anything)`
* `expect(my_object).to receive(:foo).and_

[2016-01-28 14:08] jrafanie commented on #1057
I'll try to take a look at this @myronmarston since I added #1043.  I agree, that change is probably at fault.

[2016-01-30 00:02] Rio517 commented on #904
FYI, you could do this (from the opening example):

[code]

[2016-01-31 09:54] JonRowe commented on #1038
Looking at that commit, the solution would be to use a stub chain rather than an individual stub, due to Rails returning a new module each time.

e.g.
[code]

[2016-01-31 09:54] #1038 closed

[2016-02-02 10:51] MartinKoerner opened #1059 "Enhance error stacktrace for receive matcher"
Hi,

most of the time, when we use the `receive` matcher on an existing object, we want do ensure, that the object also responds to this method.
[code]

I think it's OK, that rspec doesn't check this as default, because of dynamic methods.
In order to save us some code, we wrote a method `def expect_respond_and_receive`, which combines both calls. Now we have one problem:

If the `respond_to` matc

[2016-02-02 11:01] JonRowe commented on #1059
Sure use compound matchers: `expect(obj).to respond_to(:some_method).and receive(:some_method)`

[2016-02-02 12:01] MartinKoerner commented on #1059
Thanks, but I also can't use this in any helper method, because the real line of error is not present in the backtrace

[2016-02-02 14:53] myronmarston commented on #1059
This is what verifying doubles are for. Check out the verifying_partial_doubles option.

[2016-02-02 16:26] jrafanie commented on #1057
Ok, I figured out what's happening.

It turns out `Method#owner` is terribly inconsistent to determine which class implements an aliased method.

See [here](https://gist.github.com/jrafanie/0e5b8a9f4e8b4f84913f)

[2016-02-02 16:31] jrafanie commented on #1057
@myronmarston this "hack" fixes it for ruby 2.1.x, 2.2.x but `Method#original_name` doesn't exist in ruby 2.0 and earlier.

[code]

[2016-02-02 16:38] jrafanie commented on #1057
So, owner for aliased methods isn't consistent per ruby versions... We can check if the method is an alias by comparing the method name vs. `original_name` but then `original_name` was added in 2.1 so we'd have to figure out a different solution for 2.0 and earlier.

[2016-02-02 16:40] jrafanie commented on #1057
To be honest, I don't know what `owner` should say for an aliased method or a class that subclasses a class with the aliased_method.

[2016-02-02 17:00] MartinKoerner commented on #1059
This is indeed a great option, thanks for the hint.
But because it is a global option, it has some downsides. E.g. `ActionView::TestCase::TestController` does not inherit from `ApplicationController`. So when I want to stub some controller method in my view specs I can't verify my views respond to the controller method.

Also the general problem of being unable to move some `expect(...).to receive

[2016-02-02 17:06] myronmarston commented on #1059
Can you put together an example app demonstrating the problem?

[2016-02-02 18:15] MartinKoerner commented on #1059
Ok I hacked a simple program with a service, were the same mock is used for create/update. For this small project it seems a litter overcomplicated but I hope you get the idea.

[rspectest.zip](https://github.com/rspec/rspec-mocks/files/114424/rspectest.zip)

[2016-02-02 23:35] JonRowe commented on #1059
@myronmarston it's well known that view specs don't work with partial doubles, as they don't have a controller you can't use controller helpers/methods.

[2016-02-03 06:55] myronmarston commented on #1057
Given that the bug addressed by #1043 only manifested on Ruby 2.3, can we restore the original pre-#1043 behavior for `RUBY_VERSION < '2.3.0'` and then have the fix from #1043 in effect only on Ruby 2.3? On 2.3 you could also use `original_name` to guard against the alias issue, right?

[2016-02-03 07:23] myronmarston commented on #1059
Thanks for the example, @MartinKoerner.  Here's what's going on:

* For message expectations (`expect(...).to receive(...)`), the exception is _not_ raised when `expect(...).to receive` is called -- instead it is raised during the "verify" phase, after the example completes.
* If RSpec just raised the error at that point, and didn't do anything to the backtrace, there wouldn't be _any_ stackframes

[2016-02-03 08:17] MartinKoerner commented on #1059
1. Thanks for this tip; For our respond_and_receive feature this is a very useful solution

2. Regarding the general stacktrace problem. Would it be a useful solution to remember all trace lines "above" rspec-internal lines instead only the first line?

[2016-02-03 17:28] myronmarston commented on #1059
I think it would be useful.  However:

* Ruby's `caller` is surprisingly slow; see #401 where a reduction in number of times we call it yielded a large performance improvement.
* The way we get the single stack frame is using a [highly optimized method from rspec-support](https://github.com/rspec/rspec-support/blob/master/lib/rspec/support/caller_filter.rb) that performs much better than `caller`.

[2016-02-04 15:20] jrafanie commented on #1057
@myronmarston opened #1060 to fix this. Note, since we only check `owner` for ruby 2.3+ and `owner` for aliased methods appears to do the right thing in ruby 2.3.0, we don't need to check `original_name`.  Namely, we only need to restore the aliased method to the class if that class added the alias, which is what `owner` does for us with ruby 2.3+. See: https://gist.github.com/jrafanie/0e5b8a9f4e8

[2016-02-05 04:04] #1057 closed

[2016-02-05 15:13] jrafanie commented on #1057
@shigi can you try master now?

I believe something like this in your Gemfile should let you try it out:

`gem 'rspec-mocks', :github => "rspec/rspec-mocks", :branch => "master"`

[2016-02-05 19:44] joelpresence commented on #910
Can we reopen this?  I just got burned by this as well while testing ActiveJob subclasses.

I have two jobs, `BeginCampaignJob` and `SendCampaignPushesJob`, both of which operate independently of each other and both of which create and use their own instance of `CampaignManager`.  I want to have a test like the following:
[code]
This fails with a message that two different instances are receiving

[2016-02-07 00:47] JonRowe commented on #910
@joelpresence As mentioned above the 'expect_any_instance_of` refers to one instance, not multiple so your use case isn't a correct use of the feature.

Personally I'd stub out `SendCampaignPushesJob` within your tests for `BeginCampaignJob` here, and then stub `new` to return a specific double within `BeginCampaignJob`.

[2016-02-07 01:51] JonRowe commented on #1050
Thanks for the report, closing in favour of #1061

[2016-02-07 01:51] #1050 closed

[2016-02-07 02:14] seanlinsley commented on #1050
Thanks for creating a PR for this. I wasn't really sure where to start :smile_cat:

[2016-02-08 04:29] shigi commented on #1057
@jrafanie I tried master branch and it worked fine!
Thank you for your fix!

[2016-02-08 15:57] jrafanie commented on #1057
@shigi Great!  Thank you for reporting the issue and confirming it worked for you.

The `(allow|expect)_any_instance_of(...)` code is quite complicated so I appreciate your confirmation!

[2016-02-08 17:10] tmertens commented on #910
@joelpresence Why don't you just test the two jobs separately?  e.g. expect that the first creates the second job with the correct parameters, and then write a separate test for `SendCampaignPushesJob`.

It is a code smell here, as you are testing the full integration behavior of two completely separate jobs through the interface of the first.

[2016-02-24 18:38] gingray commented on #1058
+1 to force user explicitly return a value from a stubbed method

[2016-02-25 20:36] betesh opened #1062 "misleading error message"
https://github.com/rspec/rspec-mocks/blob/v3.5.0.beta1/lib/rspec/mocks/message_expectation.rb#L117 raises an error when and_wrap_original is called on a pure double.  However, the error message refers to `and_call_original`, not `and_wrap_original`, which leads to confusion when you are not calling `and_call_original` at all.

There was a time that `and_wrap_original` was not documented and not pa

[2016-02-25 20:37] myronmarston commented on #1062
Yep.  Want to work up a PR improving the error message?

[2016-02-25 21:29] betesh commented on #1062
Sure.  I just didn't want to make this change without agreement for the rspec team--I was anticipating more of a debate.

Here are my thoughts: The fact that `and_call_original` calls `and_wrap_original` is an implementation detail that users may not care about.  So in order to provide the right error message, we need to know whether `and_wrap_original` was called directly or via `and_call_origina

[2016-02-25 23:50] JonRowe commented on #1062
Yep, extract it to a private method with an argument, we can't/don't want to change the public method signature.

[2016-02-29 20:31] betesh commented on #1062
@JonRowe PR is in #1063

[2016-02-29 21:08] #1062 closed

[2016-02-29 21:16] JonRowe commented on #1062
Thanks :heart:

[2016-03-03 22:01] bronson commented on #558
Curious why and_return was deprecated...  To my eyes:

[code]

is more readable than:

[code]

That second one seems harder to figure out, like a paragraph that's missing punctuation.

[2016-03-03 22:04] myronmarston commented on #558
`and_return` hasn't been deprecated.  You can still use it:

[code]

What's been deprecated is passing _only_ a block to `and_return`.

[2016-03-03 22:19] bronson commented on #558
That's what I meant.  :)  The example is only passing a block.

Is there a more readable way of writing this that complies with the deprecation?

[2016-03-03 22:31] myronmarston commented on #558
The problem is that the block can do literally anything.  It's not just for returning values.  It can perform any side effect, throw a symbol, raise an error or do whatever.  As such, using `and_return(value)` makes sense (clearly it will return a value) whereas `and_return { block_that_could_literally_do_anything_including_preventing_the_stub_from_returning_a_value }` makes less sense, and we did

[2016-03-03 22:33] JonRowe commented on #558
`expect(controller).to receive(:send_file) { controller.render :nothing => true }` achieves your goal, it's readable enough when you realise that the convention is a blocks return value is returned from the expectation.

[2016-03-04 00:33] bronson commented on #558
@myronmarston, in this case, 'literally everything' is the behavior I like.  :)  Calling `controller.render` in response to `send_file` marks the action as having rendered.  If I call `controller.render` before the test starts, as you suggest, then Rails would think the action had already rendered and return nothing.

@JonRowe thanks for confirming that this is as readable as it gets.  It doesn't

[2016-03-04 00:35] JonRowe commented on #558
`and_return { ... }` actually has it's own issues in that regard, as it's not doing what it says (the block is an implementation, not a return value).

[2016-03-04 00:40] bronson commented on #558
Well that's a flippin' good point.

[code]

[2016-03-17 14:19] gmcnaughton opened #1064 "Errors rolling back stubbed any_instance methods if they were aliases from included modules"
If I stub out a method created by `alias_method` in an included module, using any_instance, the next spec to call it raises `NoMethodError`.

Probably related to the fix for #1042 !

This fails on ruby 2.2.3 + rspec-mocks 3.4.1, but passes in 3.4.0:
[code]
Running it under rspec-mocks 3.4.1:
[code]
This bit me because I was stubbing out an alias added by acts_as_votable (this seems like a pretty c

[2016-03-18 05:48] trejkaz commented on #673
What if you're testing a component which internally uses threads?

    context "when a callback is provided"
      it "calls the callback once per item"
        callback = double(:callback)
        expect(callback).to receive(:found).exactly(24).times
        component.search('query', callback)
      end
    end

With rspec-mocks 3.4.1, this fails for me claiming that the callback has not been cal

[2016-03-18 17:54] tomstuart commented on #842
Got bitten by this today. Is it likely to be fixed automatically in upcoming `rspec-rails` versions, or is there already an official way of working around the interaction between Rails autoloading and `verify_doubled_constant_names`?

[2016-03-18 18:10] myronmarston commented on #842
@tomstuart: it depends on how you want to use verifying doubles.  I'm not sure that rspec-rails can fix this in a way that pleases everyone.

If you want the verifying double to _always_ get verified (which requires the constant to be loaded, but has the downside of adding the load time of the desired class and any of its dependencies), my suggestion is to not use the string form of `instance_doub

[2016-03-18 21:02] JonRowe commented on #842
I think we should try to load the constant (when `verify_doubled_constant_names` is set) before raising that error message, this is on my list to tackle I just haven't gotten to it yet.

[2016-03-18 21:04] JonRowe commented on #673
Given what you've described, it's more likely the expectation is being verified before your method call is "complete".

[2016-03-18 21:50] tomstuart commented on #842
In an imaginary ideal world, what I want is for these features and their benefits to just all work as advertised in a Rails app. And a pony.

That would mean:

* I can use verifying doubles with strings, not symbols, so I get the fabled "best of both worlds" behaviour: when the class hasn't been loaded I get a vanilla double, and when it has been loaded I get verification. This means I can run ind

[2016-03-18 21:54] tomstuart commented on #842
To further clarify: the dream is to be told "you made a typo" without having to load the class, since in many cases the class can't be successfully loaded without doing a bunch of other setup (i.e. bootstrapping the Rails app). I accept that this may well not be possible.

[2016-03-18 21:55] JonRowe commented on #842
Given how Rails conventions work, I'd like it to be possible to ask Rails "what is the file name convention for this constant" and then say "does that file exist in the current autoload paths" and treat that as a best guess for "does this exist"

[2016-03-19 01:40] #997 closed

[2016-03-19 01:40] JonRowe commented on #997
Closed by #1000

[2016-03-22 05:58] #931 closed

[2016-03-22 12:30] trejkaz commented on #673
What actually happens is that the tasks which are spun off in the background all complete on their different threads before the method call returns, but the threads themselves are in a pool, so the threads themselves don't complete. But I think from the point of view of concurrency, these calls to the callback don't "happen-before" the check rspec does at the end of the test, because it isn't sync

[2016-03-23 07:03] JonRowe commented on #673
The moment `component.search('query', callback)` returns to RSpec, the expectation will be verified, the number of calls that RSpec has received by then will be used. You can fix this by adding a check to check for when your thread pool is drained.

[2016-03-23 17:05] t3hk0d3 opened #1066 "respond_to_missing? called on mock"
[code]

[2016-03-23 18:03] myronmarston commented on #1066
Thanks for mentioning this; it helped me bisect it back to the culprit -- 8ea8b6016d2b7cd70fef0a0c2687ba70ecf8adb5 (the change from #1047 for 3-4-maintenance).  To avoid some Ruby 2.3 warnings we fixed a bug in the `InstanceMethodStasher` that causes the stubbed method to be removed.  It's not obvious to me what, if anything, we can do to fix this -- or even if we should.

In general, `respond_to?

[2016-03-23 18:27] t3hk0d3 commented on #1066
@myronmarston It's not about exception. Its about stubbed method being called from ``respond_to_missing?`` being routed to ``method_missing``. Exception is only for indication and backtrace.

[2016-03-23 18:36] myronmarston commented on #1066
Can you provide another example showing the problem w/o the exception?

[2016-03-24 03:08] JonRowe commented on #1066
`callme` is being called here and triggering method_missing

[2016-03-24 12:53] t3hk0d3 commented on #1066
@JonRowe exactly! That could be happening because real method is already undefined (renamed) at moment ``respond_to_missing?`` is called.

Also i've tested that spec on 3.4.1 and it works as intended, but fail on 3.4.4.

@myronmarston
What the point? Exception here only for indication ``method_missing`` being called.

[2016-03-24 15:09] tbuehlmann opened #1067 "Probably missing StubChain#invocation_order entry for and_throw"
When calling

[code]

I get:

[code]

When looking into [StubChain#verify_invocation_order](https://github.com/rspec/rspec-mocks/blob/v3.4.1/lib/rspec/mocks/any_instance/stub_chain.rb#L39-L41), it seems there's missing an entry for `and_throw` in the [invocation_order](https://github.com/rspec/rspec-mocks/blob/v3.4.1/lib/rspec/mocks/any_instance/stub_chain.rb#L28-L37) method:

[code]

Amirite or a

[2016-03-24 15:28] myronmarston commented on #1067
It looks like you are right.  Want to work up a fix?

[2016-03-25 09:54] trejkaz commented on #673
All the tasks submitted to the thread pool complete before the method call returns. This I already know, because the same unit test written in Java passes.

[2016-03-25 10:07] tbuehlmann commented on #1067
Sure! Wrote something [up](https://github.com/rspec/rspec-mocks/pull/1068).

[2016-03-26 19:45] romangurovich commented on #794
This might come in handy for those working with Rails models. It makes sure that each user-defined class in the ancestor tree responds to `===` as well the immediate class.

[code]

[2016-03-28 00:54] JonRowe commented on #673
That doesn't apply here, RSpec can't see beyond it's own thread AFAIK

[2016-03-30 15:11] arsduo commented on #619
This works for regular test failures but fails when the double is used in a raised error: https://gist.github.com/arsduo/733b802ef1d542c0e1227be59b519500.

I'll take a look at the PR that fixed the first part of it and see if I can figure out how to fix it; if not, I'll open another issue.

[2016-03-30 17:03] myronmarston commented on #619
Thanks @arsduo!

[2016-04-11 20:37] theundeadmonk opened #1073 "skip_before_filter not reset between tests."
Hi,
I'm new here so I apologize if this is not the right place to raise this issue.

Invoking skip before filter once causes it to be invoked for the lifetime of the suite. i.e. it does not reset between tests.

If you have a before block
describe "block1" do
  before(:each) do
     described_class.skip_before_filter :filter1
  end
end

describe "block2" do
  ## filter1 is skipped here too!
end

T

[2016-04-11 20:52] myronmarston commented on #1073
`skip_before_filter` is an rails API, not an RSpec one, and the semantics of how it work are determined by rails.  RSpec knows nothing about rails' `before_skip_filter` and does nothing to isolate it to a single spec.  `skip_before_filter` mutates state on the controller so I would absolutely expect it to affect specs that run after that one.

You'll need to write code to rollback the mutation you

[2016-04-11 20:52] #1073 closed

[2016-04-14 10:44] lionelperrin opened #1074 "expect(obj).not_to receive(:method) failing because method is called in an `after` block"
The follwing test is failing whereas I was expecting that the calls made in an after block are not taken into account for the test.

In my case, I need to do a test like:
* make sure that one call is not closing an underlying object
* but close the underlying object in the end to avoid leaks

[code]

[2016-04-14 13:53] myronmarston commented on #1074
That's working by design.  Mocks aren't verified and cleaned up until after the `after` hooks are run, so I'd expect it to work that way.  You'll have to find an alternate way to make it work.  One way would be to create your own mocks scope just in the example block:

[code]

[2016-04-14 13:53] #1074 closed

[2016-04-15 19:47] delner opened #1075 "Extending message expectations?"
Just a question for some knowledgeable RSpec folks. I'm working on implementing a callback pattern into some code of mine. I'd like to stub/mock calls to functions that implement this pattern, and make them emulate callbacks in my RSpec tests.

Right now, the most stripped down version of my test looks something like:

    class MyClass
      def self.foo do |&block|
        # If success
        b

[2016-04-16 06:55] myronmarston commented on #1075
You can use `and_yield` to yield to a callback:

[code]

[2016-04-18 15:20] delner commented on #1075
Okay, you're definitely right about `and_yield`, which pretty much satisfies my above example. I think I oversimplified it a bit. In my actual code I implemented a callback class to wrap up the code a bit more neatly. In practice it looks more like:

[code]

I'm not sure how to cleanup that sample expectation using the current RSpec implementation, which was why I was thinking "if I can tap into t

[2016-04-18 21:00] Tonkpils opened #1076 "Unable to stub method with required keyword arguments"
When attempting to stub a method that contains required keyword arguments as such
[code]

the following error is raised

[code]

It doesn't seem like expected behavior to me, so I can try to write up a fix for it if you're interested.

[2016-04-19 10:52] JonRowe commented on #1075
I'm not sure chaining is a good fit here, why not implement a macro instead? e.g.

[code]
RSpec.configuration.include CustomReceive

[2016-04-20 15:53] joshuap opened #1077 "An exception is raised when invoking an `any_instance` expectation on a subclass that has an `any_instance` stub on its parent class"
Re: https://twitter.com/joshuap/status/722545431104753664
cc @samphippen

To reproduce this bug check out my [gist](https://gist.github.com/joshuap/4561dff8af653d1f6a3862557d15c503):

[code]

Example:

[code]

Resulting error:

[code]

[2016-04-20 16:07] samphippen commented on #1077
I've just pushed a commit (4648b31) which adds a failing spec to demonstrate this.

[2016-04-20 16:14] samphippen commented on #1077
Thanks for the clear issue @joshuap! I'm convinced this is a bug, but I don't have the time to work out the root cause right now. Hopefully more info soon.

[2016-04-20 16:18] samphippen commented on #1077
OK, my repro isn't quite right

[2016-04-20 16:22] samphippen commented on #1077
afe492e is the actual commit which reproduces this issue.

[2016-04-20 22:32] JonRowe commented on #1067
Closed by #1067

[2016-04-20 22:32] #1067 closed

[2016-04-21 14:07] delner commented on #1075
I think that's a fair option.

I was also thinking about some scenarios where I might want to trigger multiple callbacks, and pass a different set of arguments to each of those callbacks. But I think I could manage most of the things I'd like to do with callbacks by implementing a similar macro pattern to what you listed above.

However, in the case I were to find scenario where I'd actually need

[2016-04-21 14:56] myronmarston commented on #1075
RSpec doesn't provide any APIs specifically for defining your own methods for this purpose but you can use Ruby's `SimpleDelegator` to do it pretty cleanly:

[code]

(Note: I haven't actually tried the above code, but I believe it, or something very close to it, should work.)

Here's how it works:

* `receive` is overriden in `ReceiveMethodWrapper` to delegate to RSpec's implementation and then th

[2016-04-21 14:56] #1075 closed

[2016-04-21 19:27] delner commented on #1075
Cool, thanks @myronmarston!

[2016-04-25 12:36] ingobecker opened #1078 "have_received doesn't work with ordered messages"
I tried to test an object to receive messages in a specific order. Using `receive` works but `have_received` doesn't:

[code]
This test fails with the following result

[code]
I like to stick to the [four phase test pattern](https://robots.thoughtbot.com/four-phase-test) which is why i tried to use `have_received` instead of `receive`. Is there a reason why `have_received` behaves differently and

[2016-04-25 23:19] JonRowe commented on #1078
Spies verify their behaviour directly and this is an oversight on our part, we probably should have removed the unsupported `ordered` modifier here until it was implemented. PRs would be welcome to implement it however!

[2016-04-26 00:04] myronmarston commented on #1078
This is a known issue -- see #916.  Fixing it isn't simple, unfortunately, which is why it hasn't been done yet.  If you'd like to chip in, that'd be great.  Please respond on #916. I'm going to close this to keep the conversation going on the existing issue.

[2016-04-26 00:04] #1078 closed

[2016-04-26 13:07] ingobecker commented on #916
I spent some time to figure out, that `have_received` is just working in a very limited way. I'm still unsure, if i totally understand in which cases it works and in which it doesn't. I think i would not have used `have_received`, if it would raise an error for every case that it could not handle. Also making things clear in the documentation would help. Especially the part about spies

in the [do

[2016-04-26 14:57] myronmarston commented on #916
AFAIK, `ordered` is the only case which doesn't currently work as expected.  Do you know of others?

[2016-04-26 16:13] ingobecker commented on #916
I investigated a bit further. What confused me is that `ordered` works, as long as your function receives different arguments. For example
[code]

`ordered` works as expected. So it seems, the only case `ordered` doesn't work is, when you try to test for exactly the same messsage consecutively in one example:

[code]
That's the reason why i first thought `ordered` works in conjunction with `have_r

[2016-04-27 01:28] JonRowe commented on #916
I think `ordered` isn't working at all in the first example, I suspect you'll find:
[code]
Also passes.

[2016-04-27 05:55] ingobecker commented on #916
[code]
results in the following error:
[code]

[2016-04-28 15:18] tdeo opened #1079 "stub_const overwrites Class definition"
When using stub_const before the Class containing the constant has been loaded, a module is automatically created with the name.

Here is a minimal working example (on Rails file structure):
`app/models/model.rb`:
[code]

`spec/models/model_spec.rb`:
[code]

And that test fails with:
[code]

I think in that case the Module or Class should be loaded and an exception raised in case it doesn't exists

[2016-04-28 16:49] myronmarston commented on #1079
This is working by design: since `Model` does not exist, in order to stub `Model::CONST`, RSpec has to create `Model`, but it has no way to know if it should be created as a module or class.  It creates it as a module since modules are so often used as namespaces (e.g. `MyGemModule::SomeClass`).

I agree it's not ideal, but when RSpec is working with limited information (as it is in this case) it'

[2016-04-28 20:35] fornellas commented on #794
@myronmarston , I understand an instance_double's design idea you explained, but if you look at Module#=== implementation, it actually calls the operand's kind_of? method.  So, we can get a "full" behavior by:
[code]
Of course, other methods would have to be mocked also (#class, #is_a? etc). This could be another design approach ("instance_double_on_steroids"?!). What do you think?

[2016-04-28 20:46] myronmarston commented on #794
@fornellas that sound like a good idea for an extension gem.   If/when it sees significant usage by the community, we might consider rolling it in to RSpec in a future release.

[2016-04-28 21:26] fornellas commented on #794
D'oh! Although Module#=== calls rb_obj_is_kind_of(), it in turn, does not seem to call the mock on the instance double. This approach does not work. One (hard) option would be to use a real object, created with BasicObject.allocate, and then, overwrite all existing methods on the class hierarchy, plus method_mising, to mimic instance_double. Even then, if the class hierarchy changes, things would

[2016-04-28 22:04] dmolesUC3 commented on #794
In practice I've mostly been able to work around it using `MyClass.allocate` instead of `instance_double(MyClass)`.

[2016-04-29 03:48] JonRowe commented on #1079
We talked about it but never did anything about it, my suggested work around at the time was to do `stub_const("#{Model}::CONST", 2)` to trigger the autoloading.

[2016-04-29 03:48] #1079 closed

[2016-04-29 09:10] tdeo commented on #1079
That's exactly the workaround I used as well

[2016-04-30 13:55] fornellas commented on #794
@dmolesUC3 , that would be appropriate. The disadvantage over instance doubles, is that an allocated instance won't raise upon a not mocked method, and since it does not call #initialize, you'd surely get some odd behaviors...

[2016-04-30 18:51] soulcutter commented on #1076
b.test is an invalid method call, though.

[2016-04-30 22:17] Tonkpils commented on #1076
Agh, I should've caught that on the sample spec. I modified the original spec that showed this issue but I'm sure it must've been something similar. Thanks for catching this!

[2016-04-30 22:17] #1076 closed

[2016-05-02 16:16] chronodm commented on #794
It does depend on exactly what you're testing, certainly. With luck (and attention to detail) you won't have too many cases where the "double" needs to pass `is_a?`, and you can use `instance_double` for everything else.

[2016-05-03 19:25] aks opened #1083 "Bug at proxy.rb:182: nil stub being invoked"
The logic at line `proxy.rb:174` yields false if `stub` is nil.  The very next condition, at line 180, tests only `expectation`, and then invokes the nil `stub` at line 182.  This leads to an internal exception: `ArgumentError: wrong number of arguments (0 for 2)`.

![2__aks_somewhere_borg__ruby_](https://cloud.githubusercontent.com/assets/3990/14995253/b5d505e4-1128-11e6-9a44-1398ac9c9d5c.png)

[2016-05-03 19:44] myronmarston commented on #1083
@aks: can you provide an example use of rspec-mocks that triggers this sequence?

[2016-05-03 20:58] aks commented on #1083
I'm under a deadline, or I would have tried to create a simple example.  Below are snippets of the code.

This is the only test that fails.

The failure is induced in a controller spec that is attempting to confirm proper handling of AR `StaleObjectErrors`

The controller method instance variable, `@ffi_flow_function` holds a decorated (see the Draper gem) FFI::FlowFunction instance.  Hence the `.

[2016-05-03 21:02] aks commented on #1083
Finally, the `:update_params` method is defined within the AR subclass itself, but is added on through an included module.  The module does this:

[code]

Perhaps it's possible that the method validator in rspec is being confused by the dynamically injected method?

[2016-05-03 23:00] aks commented on #1083
This is not a bug.

The problem is that `ActiveRecord::StaleObjectError` requires two arguments, and was being raised without any arguments.

Closing this issue.

[2016-05-03 23:00] #1083 closed

[2016-05-03 23:01] myronmarston commented on #1083
Glad you figured it out!

[2016-05-04 18:26] dmolesUC3 opened #1086 "Verifying double ignores custom matcher `failure_message`"
#### Steps to reproduce:

1. Create a custom matcher with a custom failure message, e.g.:

[code]

2.  Use the custom matcher to verify a (failing) double invocation, e.g.:

[code]

#### Expected:

Test failure output includes custom message.

#### Actual:

Test failure output is generic:

[code]

#### Notes

Running the test in the debugger, it seems like `failure_message` registers the message b

[2016-05-04 18:52] dmolesUC3 commented on #1086
As a workaround, I've monkey-patched `ErrorGenerator` as follows in my `rspec_custom_matchers` file:

[code]

[2016-05-04 18:53] myronmarston commented on #1086
It is working working exactly as designed.  `failure_message` is not intended to be displayed in a case like that.  That is what `description` is for.  You can override `description` to customize how the matcher is represented when it is used in another failure message:

[code]

This would change `expected: (foo)` to `expected: (A fabulous foo)`.

`failure_message` and `description` have different

[2016-05-04 18:55] myronmarston commented on #1086
BTW, if you do want to see the `failure_message` from the matcher, you can do that just be specifically writing an expectation about it:

[code]

Since `foo` here is just being used as a normal expectation, the expectation failure will use the `failure_message` and print that.

[2016-05-04 18:55] #1086 closed

[2016-05-04 18:56] dmolesUC3 commented on #1086
The problem with `description` is that it doesn't have access to `actual`, which means you're dependent on `actual.to_s` to provide useful output, which in the case of a complex object like, say, `Net::HTTPRequest`, it doesn't. Likewise, as you say, `description` is supposed to be short, which makes it unsuitable for providing detailed information on a complex failure.

[2016-05-04 19:09] myronmarston commented on #1086
I thought you were asking for the `failure_message` to be printed instead of `description` where the current message says `expected: `...but are you asking for it to be displayed after the existing failure message?

I think we'd be open to a PR adding support for that, provided that it formats the output to look nice for when you've got multiple matchers used in place of multiple args.  The output

[2016-05-04 19:53] dmolesUC3 commented on #1086
Asking it to be displayed at all, really. If I have time, I'll look at formulating a PR. But the `{ |arg| expect(arg)...}` workaround might be good enough.

[2016-05-10 18:36] joelpresence commented on #910
@JonRowe I appreciate your feedback, but I respectfully disagree with your statement that "your use case isn't a correct use of the feature."  The name of the method is "expect_any_instance_of" so I would expect this to mean that any instance could receive it.  Instead, you've implemented it so that it refers to a single instance.  So really, "expect_any_instance_of" actually means "expect_exactly

[2016-05-10 23:06] JonRowe commented on #910
Yes which is why it's considered a test smell and a legacy feature and why we generally don't expand it.

[2016-05-10 23:08] JonRowe commented on #910
It would break the existing usage, I'd rather remove the feature alltogether since we don't recommend using it.

[2016-05-11 05:18] stestaub opened #1089 "Stubbing serialized attributes on instance_double raises error"
I encountered the following issue.

Having ActiveRecord Model with a serialized attribute:

[code]

Now if we would like to stub DemoProject#settings on an instance_double it will fail with `DemoProject does not implement: settings`

[code]

I'm not sure how rspec-mock checks if the method exists but `#respond_to?(:settings)` returns true in this case.

The used version of rspec-mocks is 3.1.3

[2016-05-11 05:31] myronmarston commented on #1089
First off, please upgrade to RSpec 3.4.  We've fixed many bugs and added many improvements :).

Anyhow, we do not have an instance of the class to check `respond_to?(:settings)` on.  Instead, we can only check `DemoProject.method_defined?(:settings)`.  It appears that rails wrongly reports that `:settings` is not a defined method in this case.  In general, dynamic classes do not always play well w

[2016-05-11 06:14] stestaub commented on #1089
This makes sense, thank you for the clarification and for the hint to the documentation. Rails indeed seems not to report `method_defined?(:true)` correctly.

[2016-05-11 06:14] #1089 closed

[2016-05-11 06:23] myronmarston commented on #1089
That seems like a bug in rails I'd encourage you to report upstream.

[2016-05-17 12:59] regishideki commented on #950
I have a problem with this spy behavior (return self when calling a non-existing method) because I have some verifications in my code that verifies if a method of an instance is nil. Example:

[code]

In my test, I cant' use `bar = spy('bar')` because it will return false to `bar.baz.nil?` So, I need to do it explicit:
[code]

That is a way to simple configure double or spy to return nil when call

[2016-05-17 23:10] myronmarston commented on #950
You can still use a spy; just pass the same `baz: nil` hash to `spy` instead of `double`:

[code]

Spies as null object doubles return `self` in response to any messages that have not been allowed, but you can allow `baz` to return `nil` on a spy just like you can on a normal double.

[2016-05-18 13:34] regishideki commented on #950
@myronmarston
I think I did not explain well (maybe I could use spy in both snippets). I know that. The concern here is that in my case there is no gain in using spy. And I thought would be great if it was possible to change the behavior of spy (or even double) when receiving a non-stubed method.

[2016-05-18 21:53] JonRowe commented on #950
The advantage of using a spy is to set the method expectations after the methods have actually been received, e.g. it enables the `have_received` matcher, if you don't need that you can use a normal double which will not return anything by default, we need to return a double here to allow message chaining expectations for spies.

[2016-06-04 16:29] smackesey opened #1092 "Setting expectation on `::new` sometimes causes it to return nil"
I have a class with this initialize method:

[code]

When I have an expectation set on the Class to receive `::new`, sometimes it returns nil instead of a new instance. I discovered in a class buried deep in my application and was unable to replicate it in a simpler script context. But here are some details:

The bug requires not only that I pass '*' as first arg, but also that double-splatted key

[2016-06-04 17:31] myronmarston commented on #1092
What does your message expectation look like?  I ask because the default return value is `nil` ([as documented](https://relishapp.com/rspec/rspec-mocks/v/3-4/docs/configuring-responses)) so that's the normal behavior.  The only way to expect `new` on a class and have it return an instance is to do something like:

[code]

...or:

[code]

Anyhow, if a simple `expect(MyClass).to receive(:new)` call

[2016-06-10 17:23] joshuanathanson commented on #910
I also don't get how it's code smell to want to test that some number of instances were created and they each receive a message.

Take a simple example:
`def self.foo
  (1..2).to_a.each do
    Bar.new.baz
  end
end`

[2016-06-11 01:32] JonRowe commented on #910
Partial doubles themselves are a test smell (as it would be better to
extract the logic so that you can pass in a collaborator which is a pure
double) and because its interfering with the internals of Ruby for what is
a implementation detail. This should be integration tested (with proper
instances of Bar) if you care about the outcome.

If either of those are two complex for your actual code vers

[2016-06-22 22:03] dreyks opened #1098 "Using mocks on methods with refinements fails"
In a situation when a method comes from an included module and then this same method is refined, invoking `expect().to receive` fails as if the method is not present at all.

After spending some time in debugger I realised that the expectance itself passes, but the [restore_original_visibility](https://github.com/rspec/rspec-mocks/blob/master/lib/rspec/mocks/method_double.rb#L104) fails, because n

[2016-06-23 09:06] guizmaii opened #1099 "Count recursive calls"
Hi,

I'm not able to count recursive calls:

[code]

<img width="726" alt="capture d ecran 2016-06-23 10 46 44" src="https://cloud.githubusercontent.com/assets/1193670/16297690/2cf1b1b4-3932-11e6-9950-de5e702a3c39.png">

Is it normal ?

I use rspec-mocks 3.4.1

thanks.
Jules

[2016-06-23 09:08] #1099 closed

[2016-06-23 09:09] JonRowe commented on #1099
Yes. The implementation doesn't exist. You need to add `and_call_original`

[2016-06-23 09:12] guizmaii commented on #1099
Yes thanks ! I found this ticket that had the answer : https://github.com/rspec/rspec-mocks/issues/917

[2016-06-28 09:11] Deradon opened #1100 "Extending instances of RSpec::Mocks::Double"
## Problem

I report this problem because I run into this problem a few month ago and just today my coworker was experiencing the same problem.

## Minimum Example

[code]

## Complex Example

The spec I'd like to write:

[code]

And the related implementation:

[code]

## Links

* Stackoverflow: [Test obj.extend(Foo) with RSpec doubles](http://stackoverflow.com/questions/33997298/test-obj-extendf

[2016-06-28 16:01] myronmarston commented on #1100
Things are working correctly.  Note that this works:

[code]

The difference between your example and this one is that you declared your double as:

[code]

The `foo: "foo"` bit defines a singleton method on the double, so that when `foo` is received, it returns `"foo"`.  When an object has a singleton method defined on it, the singleton method definition takes precedence over the method defined i

[2016-06-28 16:01] #1100 closed

[2016-06-28 16:05] myronmarston commented on #1100
BTW, if you care about the performance of the code, I'd urge you to consider redesigning it to not `extend` an object at runtime, since that bust's ruby's method cache.  See https://tonyarcieri.com/dci-in-ruby-is-completely-broken for a discussion of the kind of perf hit that this causes -- and note that it's not just this object that becomes slow, but _every object in your system_, due to the glo

[2016-06-28 17:09] Deradon commented on #1100
Thanks! Your example demonstrates it very well that it is working as expected.

[2016-07-05 12:30] samphippen opened #1102 "Add the ability to temporarily turn off `verify_partial_doubles`"
In https://github.com/rspec/rspec-rails/issues/1076 and https://github.com/rspec/rspec-rails/issues/1219 we encountered some issues with partial mocks and view specs. We should add the ability to temporarily disable `verify_partial_doubles`.

The implementation signature could potentially look like `without_verifying_partial_doubles(&blk)` such that

[code]

and

[code]

The implementation strateg

[2016-07-13 20:06] jjbohn opened #1105 "undefined method `to' for #<RSpec::Matchers::DSL::Matcher allow>"
Having a really odd problem. `to` seems to be undefined all of the sudden. We recently went from a 2.x version to 3.5 so I'm thinking that might have something to do with it and it just wasn't caught until now.

`to` is working fine with `except`.

I feel like I have some wonky piece of configuration that I might be missing but I can't track it down. Any ideas?

[2016-07-13 20:12] jjbohn commented on #1105
Just realized I meant to put this in rspec-exceptations. That said, I did some more digging and this definitely looks isolated to me. Sorry for the noise.

[2016-07-13 20:13] mrageh commented on #1105
@jjbohn Can you please put together a reproducible example demonstrating this issue?

[2016-07-13 20:23] myronmarston commented on #1105
@jjbohn `allow` is a method provided by rspec-mocks so I think this belongs here.  I'll reopen this.

Anyhow, based on your error, it looks like maybe you have defined an `allow` matcher with `RSpec::Matchers.define :allow`, which would cause a matcher object that returns `#<RSpec::Matchers::DSL::Matcher allow>` when inspected.  If you've done that, you'll need to rename it so as not to conflict w

[2016-07-13 20:30] jjbohn commented on #1105
@myronmarston you're completely right. Just found it as I was doing some further digging. Thanks for the help!

[2016-07-13 20:30] #1105 closed

[2016-07-17 08:00] ktimothy opened #1107 "Copying expectations"
Is there a way to copy/move expectations from one object to another? For instance, I would like to do something like that:
[code]

[2016-07-17 08:39] JonRowe commented on #1107
No there isn't but there is `expect_any_instance_of(object).to receive(:bar)`, but thats generally only considered a good idea for legacy/rails style code, can I ask what you are trying to achieve?

[2016-07-17 09:21] ktimothy commented on #1107
Sure, I am trying to find a shorter way to stub [Grape APIs helpers](https://github.com/ruby-grape/grape#stubbing-helpers). The problem is, that actual endpoint object is accessible only when I call the api, but that is too late to set expectations. So I try to set expectations on a double, and copy them to endpoint, when I can access it.

What I am trying to actually achieve is to write
[code]
in

[2016-07-17 09:25] JonRowe commented on #1107
Forgive me, what's wrong with:

[code]

?

[2016-07-17 09:43] ktimothy commented on #1107
Nothing, I would just like to write shorter code to set expectations.

[2016-07-17 09:45] JonRowe commented on #1107
You can implement something shorter yourself, try this:

[code]

[2016-07-17 10:08] ktimothy commented on #1107
Well, that looks pretty, thanks.

[2016-07-17 10:08] #1107 closed

[2016-07-29 09:43] zverok opened #1108 "Proposal: more consistent/compact spies"
Idea is:
[code]

Currently, message expectations seems the only frequently used matcher which has no way to write it in one-line readable statement, whatever preparational operations you'll put in `before` block.

WDYT on the idea? Was it already discussed (haven't find on the tracker)? If it could be accepted, I'll be happy to come with a corresponding PR.

[2016-07-29 14:07] JonRowe commented on #1108
This has actually recently been discussed over in rspec/rspec-expectations#934 (wrong repo for it but never mind) and we came to the conclusion this was best left to an extension gem for now.

[2016-07-29 14:07] #1108 closed

[2016-07-29 14:09] JonRowe commented on #1108
Quoting @myronmarston here:

* A block form can get unwieldy when there are multiple messages in play, where as having multiple expect(...).to have_received(...) calls in a row is far less unwieldy.
* RSpec's spying features work best when dealing with command methods (where there isn't a meaningful return value) and you can therefore use a simple spy with no need to configure how it responds:
[co

[2016-07-29 23:27] jormon commented on #774
@mdesantis, my solution to this was to use `and_wrap_original` so your example could be written

[code]

[2016-08-04 06:57] alxberardi opened #1109 "TestDouble #freeze should return #self"
When calling the freeze method on a double, it is a good thing that actual freezing does not happen and that a warning is shown.

That said, the expected return value for the freeze method on an object is the object itself.

In my particular case, I'm experiencing issues writing unit tests for classes that include [Memoizable](https://github.com/dkubb/memoizable).

With memoized methods, the gem c

[2016-08-04 07:03] JonRowe commented on #1109
Happy to accept a PR (with a spec) for this :)

[2016-08-04 07:14] alxberardi commented on #1109
Ok, I'll see if I can find a moment at some stage, thanks!

[2016-08-05 00:52] alxberardi commented on #1109
Ok, I'll see if I can find a moment at some stage, thanks!

[2016-08-05 07:07] alxberardi commented on #1109
Please see https://github.com/rspec/rspec-mocks/pull/1110 , thanks!

[2016-08-05 07:30] JonRowe commented on #1109
Closed by #1110

[2016-08-05 07:30] #1109 closed

[2016-08-06 22:53] amarshall opened #1111 "Extract ConstantMutator?"
This is a generally useful utility that I’ve implemented on my own before, but RSpec’s is rather feature-complete. It would be nice to be able to use it without pulling in a whole bunch of RSpec (which I won’t do if it’s not already a dependency..

Thoughts?

[2016-08-07 22:43] myronmarston commented on #1111
We go out of our way to avoid depending on other gems in RSpec (with a few carefully selected exceptions like `diff-lcs`) to prevent version conflict problems where RSpec requires version 1.x of `contant-mutator` but some other gem your project depends on `constant-mutator` 2.x--in such a situation you would not be able to use the other gem and RSpec in the same project, so we try to avoid such si

[2016-08-07 22:43] #1111 closed

[2016-08-08 18:28] DanielRuskin1 opened #1112 "Rails Descendant Tracking"
I'm using rspec/rspec-mocks with a Rails application.  I recently noticed a bug with Rails descendants tracking.

Let's say we have this class structure:
[code]

[code]

[code]

When running `descendants` on `Cars::Car`, this is returned (as expected):
[code]

After running `expect(Cars::Sedan.new).to receive(:foo)`, this is returned (with an extra class):
[code]

Any ideas on what could be going

[2016-08-09 00:31] JonRowe commented on #1112
I'm pretty certain thats just the meta class...

[2016-08-09 00:39] DanielRuskin1 commented on #1112
Thanks for taking a look.

I'm pretty sure it is a metaclass, but why is it showing up in the descendants?  I wouldn't expect setting a rspec mock to alter descendant tracking.

[2016-08-09 02:18] myronmarston commented on #1112
No idea.  I know very little about rails and have never used that part.  RSpec::Mocks certainly doesn't monkey patch any methods defined by rails (or any methods at all if you enable zero-monkey-patching mode) so it appears that rails `descendants` method includes singleton classes.  You'd have to check with the rails people to see if its intentional or not.

Regardless, to do what you've asked it

[2016-08-09 02:21] DanielRuskin1 commented on #1112
Makes sense, I'll close.

Thanks guys.

[2016-08-09 02:21] #1112 closed

[2016-08-15 01:12] binarymason opened #1113 "jhgljllvcjvdcrhrjc"

[2016-08-15 01:12] #1113 closed

[2016-08-19 20:30] joelpresence opened #1114 "Question: How to expect a method only on the third invocation"
Hi,

Suppose I have a test where I want some method foo to do its normal thing the first two times it is called (i.e. no mock interference) but raise an exception the third time it is called.  How do I do this with rspec?

The context is something like the following:
[code]
So how do I tell rspec to "leave foo alone and not override it for the first two invocations" but then "raise an exception fo

[2016-08-19 23:45] joelpresence commented on #910
@JonRowe I am having issues with this again.  I am trying to "turn off" an ActiveRecord validation so that I can get a certain kind of model into my database, I want to turn off the validation for a model instance created within a given test example but *not* within my `before :each` ... So I need `expect_any_instance_of(MyModel)` to actually apply to *any* instance in this case, not exactly one i

[2016-08-24 00:12] JonRowe commented on #910
My suggestion would be `save validate: false`, it's basically designed for this use case.

[2016-08-24 00:38] JonRowe commented on #1114
You can configure your own response logic however you want like so:

[code]

[2016-08-24 00:38] #1114 closed

[2016-09-06 20:10] olivierlacan opened #1116 "expect().to raise_error should... raise an error"
For some reason I tried to assert the following:

[code]

The output was:

[code]

Which is the error I expected would be raised. For a moment this confused me until I remembered that I need to pass a block to expect in order to make exception expectations. But I'm still surprised that raise_error didn't complain about not being given a block.

Is that a strange... expectation on my part? 😄

PS: r

[2016-09-06 20:13] myronmarston commented on #1116
I would _love_ to fix this but haven't been able to think up a feasible way to do so.  The problem is that ruby evaluates the argument to `expect` first (before even instantiating the `raise_error` matcher) and the expression it evaluates is raising an error.  That causes the example to fail immediately, before the `raise_error` matcher has a chance to do anything about this.

Can you think of a w

[2016-09-06 20:47] olivierlacan commented on #1116
Oh, yeah. Tricky. I can't think of a way that wouldn't pollute in a monkey-patchey way. Sadly can't use Refinements on `Kernel#raise` since `Kernel` a module.

Feels like you could have a monkey-patch check on `Kernel#raise` but even then it would happen before the `raise_error` expectation is registered.

I guess there's no solution. 😢

[2016-09-06 20:47] #1116 closed

[2016-09-24 02:56] proby opened #1118 "failed to mock :new if method(*) is overridden"
While attempting to upgrade `rspec` in some very, very old code I discovered this interesting edge case bug. I've reduced it to the following case:
[code]
Running `rspec` (with `-b`) over this file results in the following error:
[code]
I'm not really suggesting this needs to be fixed with all the smelly code and poor practices, just thought it was interesting edge case.

[2016-09-24 03:21] myronmarston commented on #1118
Overriding `method` is definitely smelly, but we actually handle this in other places with this [complex bit of code](https://github.com/rspec/rspec-support/blob/e96cc73d0a7d46d9b1948d165c52f0aff78e9457/lib/rspec/support.rb#L35-L74).  We should be able to fix the spot that is calling `method` directly instead of using that.  Do you want to look into submitting a pr to fix it?

[2016-09-26 23:19] JonRowe commented on #1118
Fixed by #1119

[2016-09-26 23:19] #1118 closed

[2016-10-12 16:09] aried3r opened #1121 "Can't assert Rails.logger call when migrating from Rails 4 to Rails 5"
Rails 5.0.0.1
rspec-rails 3.5.2
rspec-mocks 3.5.0
Ruby 2.3.1

I am currently migrating our test suite to Rails 5 and am almost done except for two more failing specs. The current spec works on Rails 4 but fails with Rails 5:

[code]

Rails 5 throws the following error:
[code]

It logs correctly when I comment out the `expect()` line. But that renders the spec useless.

This is the strack trace I g

[2016-10-12 23:01] JonRowe commented on #1121
Thats a funny error, is your mail being sent asynchronously? It looks like the expectation is failing because the mail hasn't been sent, when is causing the job to fail in the background picking up the spec.

[2016-10-13 08:30] aried3r commented on #1121
Yep, I send it using `.perform_later` with ActiveJob and sucker_punch as an adapter.

And yeah, I also think that because it doesn't catch the log entry, then fails to send the mail altogether. At least once it didn't get `nil` but `Started processing using MailsController...`. So it might be the part about it being asynchronous.

But according to [this entry in the README of sucker_punch](https:/

[2016-10-13 08:58] JonRowe commented on #1121
Try adding an `allow(Rails.logger).to receive(:info)` before the `expect`

[2016-10-14 14:58] aried3r commented on #1121
That works, thanks! But... why? :D

[2016-10-19 18:28] jturkel opened #1122 "have_received doesn't always work with contain_exactly/match_array and an array of hashes"
This can be reproduced with rspec 3.5.0 via the following snippet:

[code]
The error is:
[code]
The code works fine if I replace the array of hashes with just an array of integers.

[2016-10-25 10:33] #1121 closed

[2016-10-25 10:35] JonRowe commented on #1121
You've set a specific expectation, but doing something different, this is the expected behaviour of RSpec. You need to tell it you also don't care about other calls to that method, which is what the `allow` statement is doing.

Why does it work on Rails 4? Probably because before Rails wasn't also using the logger to tell you stuff about active job, probably :)

[2016-10-25 11:37] aried3r commented on #1121
I see, thank you for the explanation.

[2016-10-25 12:55] bquorning opened #1123 "Do not allow stubbing on a mock"
rspec-mocks allows us to define a mock and tacking a stub onto the end it:

[code]

Now RSpec will expect `foo` to receive `:bar` with the argument `42`.

If you read the code aloud, it very much sounds like `"hello world"` should also be part of the expectation. It isn’t.

I can think of at least two ways to rewrite this with the mocking and stubbing separated:

[code]

or

[code]

This problem e

[2016-10-25 12:56] #1123 closed

[2016-10-25 12:58] JonRowe commented on #1123
It's allowed for this sort of situation:

[code]

Which is totally allowable in our DSL, its fine if you wish to seperate them (I tend to also as I dislike multiple stubs with return values) but it's something we've always supported so needs to stay.

[2016-10-25 13:00] JonRowe commented on #1123
We got away from using the term mock, as it's ambiguous, and can be applied both ways. RSpec these days separates a mock into stubs e.g. `allow(...).to receive()` and doubles e.g. `instance_double(Object)`

[2016-10-25 13:10] bquorning commented on #1123
Thank you for the clarification.

I would probably rewrite your example to something like this:

[code]

But I accept your argument that “it's something we've always supported so needs to stay”.

[2016-10-25 14:40] jcoyne commented on #1123
@JonRowe would you consider deprecating this behavior?

[2016-10-25 16:33] myronmarston commented on #1123
Maybe if there was a broad community consensus.  But users like to use different parts of RSpec in different ways and I would expect a lot of push back on such a deprecation.  In general, we don't deprecate or disallow things just because something is a code smell.

[2016-10-25 21:57] JonRowe commented on #1123
I'd lean against deprecating it as I think it's perfectly fine to do, and we reuse a lot of the code between the two which would make disallowing it a maintenance burden for no clear benefit in my view.

[2016-11-15 05:47] #1102 closed

[2016-11-23 18:44] glaucocustodio opened #1129 "Add stub_chain documentation to README.md"
I find `stub_chain` very useful for some cases. I know there are concerns regarding Law of Demeter but I think we should instruct its usage at README.md.

Would a PR be welcome? Thank you.

[2016-11-23 23:41] JonRowe commented on #1129
Given that nearly everything else is, sure, however it would have to be `receive_message_chain` which is the modern incarnation.

[2016-12-09 00:57] MaxPleaner commented on #910
Apologies for beating a dead horse, but

If I'm understanding correctly, the recommendation is to mock the instances so that the tests need to only refer to a single one.

However, from what I've gathered, some people consider mocking to be a code smell as well.

Anyway, if anyone ends up reading this far through the issue, you can find a workaround here:

http://stackoverflow.com/questions/980099

[2016-12-09 04:31] timriley commented on #619
@arsduo Just wanted to see how you got on with https://github.com/rspec/rspec-mocks/issues/619#issuecomment-203482008? I ran across the same problem as you described and luckily google found your gist, which brought me here.

I was raising an exception in my code under test and passing a double at the same time, which is what got me the unexpected "OutsideOfExampleError" RSpec error. Would be good

[2016-12-16 11:10] cpetschnig opened #1132 "Spies create false positives when used with dynamic matchers"
The following spec is green:
[code]

It took me quite some time to figure out that it was actually my mistake, after I debugged deeply into RSpec internals. I would have expected an 'undefined method' error with my typo, but spies are very forgiving in such a case.

I don't know if this could be fixed in a reasonable way. If you think this is solely my concern and shouldn't be handled by RSpec, th

[2016-12-16 17:10] myronmarston commented on #1132
Thanks for reporting this!  That's a tricky one, because rspec-expectations supports dynamic matchers like `have_foo(:bar)` (which pass if `subject.has_foo?(:bar)` returns a truthy value).  Since spies are null objects and return themselves when any message is sent, `spy.has_foo?(:bar)` returns a truthy value.

I think a fix for this will require some changes to the dynamic predicate matchers.  I'

[2016-12-19 07:59] cpetschnig commented on #1132
After further thoughts on this, maybe `expect(spy_obj)` could implicitly disable the spying mode of the object, converting it in fact to a normal double. With an explicit call, the user could still turn it back to normal spy mode. What do you think about this approach?

I first encountered RSpec spies only a few weeks ago, but I can recall many situations in the past, were a spy would have been ex

[2016-12-19 16:55] myronmarston commented on #1132
That's an interesting idea.  I don't think it makes sense to toggle which kind of double it is, but `expect(spy_obj)` could restrict which matchers it works with, or warn if certain matchers were used.

[2016-12-19 20:46] YSavir commented on #1058
This has been a point of frustration for me as well.

I don't like the idea of explicit return values, but what about a config option to run the original by default (when one is available)?

[2016-12-19 21:51] JonRowe commented on #1132
We could fix this with an additional check in the dynamic matcher, checking it's not a spy.

[2016-12-19 21:53] samphippen commented on #1132
👍

[2016-12-19 21:54] JonRowe commented on #1058
Running the original defeats the point of using a stub in the first place, also note that the primary use case, doubles, doesn't even have an original implementation.

[2016-12-20 08:43] cpetschnig commented on #1132
An approach like this (in `rspec-expectations`)?

    diff --git a/lib/rspec/matchers.rb b/lib/rspec/matchers.rb
    @@ -958,6 +958,7 @@ module RSpec
         DYNAMIC_MATCHER_REGEX = Regexp.union(BE_PREDICATE_REGEX, HAS_REGEX)

         def method_missing(method, *args, &block)
    +      return super if self.is_a?(RSpec::Mocks::Double) && null_object?
           case method.to_s
           when B

[2016-12-20 15:25] YSavir commented on #1058
I don't think you can say "Running the original defeats the point of using a stub in the first place" without acknowledging that that's only one approach. As mentioned earlier in the thread, different people test differently. This might be due to personal philosophy, tech needs, optimizations, or other conditions, but whatever the cause, it seems inappropriate to wash away the request with a "that

[2016-12-20 16:47] JonRowe commented on #1058
I'm attempting to explain that its not what a stub is for, sure, it's entirely acceptable to test in a different fashion, checking that messages are sent regardless of their implementation, but this is a mocking and stubbing library, and thus it's point is to stub, (or fake out) a method definitions, or to replace with a mock (or double).

Feature bloat is seen in a negative light, and it's expand

[2016-12-20 16:59] vemv commented on #1058
I'd just like to point out that as an user, this fact is fairly irrelevant. I add `rspec` to my Gemfile, not `rspec-mocks`, which existence one could only guess by peeking at the Gemfile.lock.

My point is that I use rspec as a testing framework, and if some of its sub-gems declares itself as a "mocking and stubbing library" that shouldn't prevent me to use the rspec testing framework however I co

[2016-12-20 17:02] JonRowe commented on #1058
If you'd like to work on it in a fashion similar to what I described above, I'd be happy to help.

[2016-12-20 17:42] YSavir commented on #1058
@JonRowe I would be happy to submit a PR in that style.

[2016-12-20 18:00] myronmarston commented on #1058
We could support a config option like @JonRowe suggested, although that definitely adds to the future maintenance burden for maintainers of this library.  If possible, I'd prefer to see this feature added via an extension gem.  If you want partial doubles to default to calling the original implementation, add the gem to your project; no config option is needed.

I think you could implement this in

[2016-12-27 01:22] eedwardsdisco opened #1134 "Rspec::Mocks::AnyInstance::Recorder build_alias_method_name creates invalid method alias when method name ends in exclamation point or question mark"
Ran into this while using ChefSpec, but it appears to be a an rspec-mocks issue.

From my testing in IRB, it's invalid to declare a method such as:

ruby 2.3.0
[code]

If I use a line such as this in my rspec file:

[code]

You can see I get a similar error as above:

[code]

Thus, I believe the method aliases being generated by 'build_alias_method_name' are possibly invalid when supplied with a m

[2016-12-27 02:24] JonRowe commented on #1134
Interesting, it's quite possible that this is a bug for us, obviously needs to be escaped or similar

[2016-12-30 00:19] eedwardsdisco commented on #1134
Just as an additional note, I'm finding myself getting bitten by this regularly while using ChefSpec.

Since the way it simulates a Chef run means you often don't get a reference to any of the Objects as part of the run, I regularly have to use allow_any_instance_of and expect_any_instance_of.

I'm a little surprised this failure case hasn't been hit before, as `soandso?` and `soandso!` methods se

[2016-12-31 18:23] samphippen commented on #1134
This doesn't look like it's us.

[code]

passes for me on RSpec master. @eedwardsdisco, what version of RSpec do you have as the eventual dependency of RSpec?

[2016-12-31 18:36] eedwardsdisco commented on #1134
Hi @samphippen ,

`chef exec rspec --version` reports `3.5.4`

Can you confirm that `build_alias_method_name` from Rspec::Mocks::AnyInstance::Recorder is getting called for your example?

[code]

I'm confused how your example would work, if it's using the above code as described in ::Recorder, as Ruby doesn't seem to like method names generated as such:

[code]

As you can see, it throws a SyntaxE

[2016-12-31 18:36] samphippen commented on #1023
@mrbrdo could you provide us a full spec file with a sample class and sample spec that produces this problem? I tried to reproduce this locally and couldn't.

[2016-12-31 18:56] samphippen commented on #1134
@eedwardsdisco we don't actually use the `def` keyword to achieve this, so your IRB example isn't really indicative of this bug. I can confirm that `build_alias_method_name` is being called. My guess would be something in chef is calling this and doing an old-style string eval on the class.

Given that when only our stack is involved, no exception is thrown, I'm inclined to close this issue. @rspe

[2016-12-31 18:57] samphippen commented on #1129
@glaucocustodio is this still something you'd like to file a PR for?

[2016-12-31 19:09] eedwardsdisco commented on #1134
Thanks for the additional info, @samphippen !

As per my original error, something in the (downstream?) stack is definitely taking the method name generated from ::Recorder and using it in a 'def' statement:
[code]

Your comments indicate that RSpec believes it's the responsibility of the consumer to use this generated name in a different way. I'd still argue that if RSpec generated a 'safe' metho

[2017-01-03 17:02] glaucocustodio commented on #1129
I'm sorry for the delay. Please, see https://github.com/rspec/rspec-mocks/pull/1137.

[2017-01-03 19:02] #1129 closed

[2017-01-06 00:27] JonRowe commented on #1134
@samphippen can you recreate it with your examples if you `include Forwardable`?

[2017-01-06 03:01] JonRowe commented on #1132
I'd support this, you'd also need to check `RSpec::Mocks` is defined of course

[2017-01-06 09:58] samphippen commented on #1134
@JonRowe works if Forwardable is included.

My suspicion is that ChefSpec is using a string-style eval to define a method, invoking this RSpec method. Nothing in the ruby standard library or RSpec does that anymore, though.

[2017-01-06 10:53] samphippen commented on #1098
@dreyks your example works for me on RSpec master on both 2.4 and 2.2. However, I will note that refinements do not work with `any_instance`. As per @JonRowe's PR.

[2017-01-06 18:13] eedwardsdisco commented on #1134
@JonRowe @samphippen Thanks to both of you. I will open a downstream ticket with ChefSpec. Appreciate the help.

[2017-01-06 18:13] #1134 closed

[2017-02-07 18:10] segiddins opened #1143 "Expectations on FileUtils aren't reverted on Ruby 1.8.7"
The following test suite passes on Ruby 2.4 but fails on 1.8.7

[code]

with the following output

[code]

[2017-02-07 22:22] JonRowe commented on #1143
This has nothing to do with the expectation, `expect(FileUtils.mkpath Dir.pwd).to eq([Dir.pwd])` doesn't match `Failure/Error: expect(FileUtils.mkpath Dir.pwd).to eq(Dir.pwd)` which suggests that something weird is going on with parsing of `[Dir.pwd]`, try assigning it to a variable and using that?

[2017-02-07 22:32] segiddins commented on #1143
Sorry, copy-pasted the wrong output 😔 will update when I get back home

[2017-02-08 00:15] segiddins commented on #1143
Updated the output

[2017-02-08 00:28] JonRowe commented on #1143
Yep ok, confirmed, btw you don't need the `require 'rspec'` I'm not sure when one of us will have a chance to investigate in detail, 1.8.7 is rather venerable!

[2017-02-08 01:39] segiddins commented on #1143
[code]

[2017-02-08 02:31] segiddins commented on #1143
Whew, https://github.com/rspec/rspec-mocks/pull/1144 seems to fix the issue. That was fun!

[2017-02-08 04:21] #1143 closed

[2017-03-02 20:33] mandysimon88 commented on #3
@dchelimsky could you be more specific in your response? Have tried several different combinations of adding this code snipped to both spec_helper and rails_helper to no avail. Running Rails 4.0.4 && rspec 3 & rspec-mocks 3.0.4:
[code]

Always get undefined constant Rspec error...

[2017-03-02 20:37] amandapouget opened #1145 "Can't convert RSpec::Mocks::Double to String (RSpec::Mocks::Double#to_str gives RSpec::Mocks::Double)"
It seems from other issues posted that this was an intentional breaking change in 3.0.0, but from the issues listed I haven't been able to put together a concrete answer to how I should change my code so as not to have this problem. Some suggest putting this in spec_helper:
[code]
But I cannot get that code to run, and even if I could, would that not just reintroduce bugs with Double#to_str?

Here

[2017-03-02 20:43] dchelimsky commented on #3
Just looking at your example, you're using `Rspec` instead of `RSpec`. Does changing it to `RSpec` fix it?

[2017-03-02 20:46] mandysimon88 commented on #3
No. Here is my file... But even if it did "fix" it, it would seem that this is something where I should change my code not to need this at all, since Double#to_str was intentionally removed. Opened a new issue, will post the code there.

[2017-03-02 20:47] mandysimon88 commented on #1145
spec_helper file that throws `uninitialized constant RSpec::Mocks::Mock (NameError)` when I add the three lines at the bottom:

[code]

[2017-03-02 20:48] mandysimon88 commented on #3
@dchelimsky opened issue here: https://github.com/rspec/rspec-mocks/issues/1145

[2017-03-02 20:49] dchelimsky commented on #3
Hey @mandysimon88 - sorry, but I haven't worked in this codebase in several years. I was trying to help because it looked like the problem was a typo, but I think somebody else is going to have to take it from here. /cc @myronmarston

[2017-03-02 22:27] JonRowe commented on #1145
The solution to your issue is probably that your mock needs to respond to `id` or `to_param` in order for Rails to convert it into a url, it's calling `to_s` as a last resort and wouldn't give the result you want.

The reason why `Mock` is undefined is that module was an internal api and has since been renamed, (to Double as your error shows), however we don't recommend monkey patching it like thi

[2017-03-03 02:05] xaviershay commented on #1145
@JonRowe is that was https://github.com/rspec/rspec-activemodel-mocks is supposed to do? I remember `mock_model` being a thing a while back but I think we moved it out of core?

[2017-03-03 22:57] JonRowe commented on #1145
@xaviershay Yep, that library implements a bunch of "fake active record" functionality.

[2017-03-17 17:56] ademars94 opened #1146 "NoMethodError with RSpec Mocks and Cucumber"
I am trying to configure RSpec Mocks and Cucumber to play nice together, and I am getting an error.

This is in my env.rb from Cucumber:
[code]

And when I try to use RSpec mocks to expect a class to receive a message, I get this error:

[code]

I think there is something wrong with the configuration but I can't find any documentation for setting this up with a third party thing (in this case, Cuc

[2017-03-17 18:10] myronmarston commented on #1146
Your `config.include` line just includes it into the RSpec example context, and not into cucumber's context.

It looks like cucumber includes built-in support for this:

https://github.com/cucumber/cucumber-ruby/blob/v2.4.0/lib/cucumber/rspec/doubles.rb

Have you tried `require 'cucumber/rspec/doubles` in your `env.rb`?  @mattwynne can you confirm if that is the way cucumber maintainers recommend?

[2017-03-17 18:12] ademars94 commented on #1146
@myronmarston Rad. That is working. Thanks for your help!

[2017-03-17 18:12] #1146 closed

[2017-03-25 00:33] mattwynne commented on #1146
Yeah I believe so @myronmarston. I don't use test doubles myself much in acceptance tests, so I don't remember when I last used this feature myself.

[2017-03-25 00:35] mattwynne commented on #1146
@ademars94 in general, if you want to mix in a module to your step definitions, you need to use the [`World`](http://www.rubydoc.info/github/cucumber/cucumber-ruby/Cucumber/RbSupport/RbDsl#World-instance_method) DSL method.

[2017-03-27 15:04] Epigene opened #1149 "Feature: #string_matching argument matcher"
Hi!

Lately I am am doing a lot of specs with mocks, for example:

[code]

I was wondering whether there is a matcher that would allow me to check if passed string arguments match a regex, so I could write specs like this:

[code]

I looked in `/lib/rspec/mocks/argument_matchers.rb` and did not see anything like that.
I am happy to write this feature if it is absent and would be useful.

[2017-03-27 15:49] myronmarston commented on #1149
Since `with` supports anything that defines `===`, you can pass a regex directly to it:

[code]

You can also use any rspec-expectations matcher with `with`, and it provides `a_string_matching`:

[code]

[2017-03-27 15:49] #1149 closed

[2017-03-29 21:00] Dania02525 opened #1150 "expect message receipt with args, ignoring receipt with different args"
I think this is possible using something like:
[code]
But it would be nice to be able to ensure that a message was received with args at some point whether it was before or after messages with different args.  something like: `.at_some_point`.

Used like this:
[code]
This is useful when the order of messages received is indeterminate and not important beyond whether the message with specific args

[2017-03-29 21:04] myronmarston commented on #1150
I don't think this is widely useful enough for us to take it on and enlarge our API.  You can already easily achieve this using a spy:

[code]

This only passes if `foo.bar("baz")` was called, and ignores any other messages sent to `foo`.

[2017-03-31 12:19] JonRowe commented on #1150
[code]

Is also a common pattern if you have multiple uses and only care about one, so I'm siding with @myronmarston here and closing this as "not widely useful enough for us to take on", but thank you for taking the time to suggest it!

[2017-03-31 12:19] #1150 closed

[2017-03-31 12:55] stevenspiel opened #1151 "stub any instance having certain attributes"
In ActiveRecord, it's common to have a representation of a database object re-instantiated multiple times. See the following scenario:

[code]

The original instance is stubbed just fine, but subsequent instantiations of the same database object representation are not stubbed.

I'm looking for something like:

[code]

It doesn't always work to use

[code]

because there are many other ways to get

[2017-03-31 14:35] myronmarston commented on #1151
That API is not provided (and we won't be adding it), but you can achieve something like this by passing a block:

[code]

[2017-03-31 14:35] #1151 closed

[2017-04-05 07:50] rusikf opened #1152 "How to stub initialize method on object"
Lets we have class
[code]

How to test that `service` was initialized with `a: 1, b: 2` ??
If I want to test call method options, I can use `allow_any_instance_of(service).to receive(:call).with(options)`, but how to stub new method ??

With best regards, Ruslan.

[2017-04-05 13:09] mikegee commented on #1152
Add reader methods to `Publish` for inspection, then:

[code]

[2017-04-10 10:23] JonRowe commented on #1152
You can assert that a specific instance is created by stubbing new, e.g. `allow(Publish).to receive(:new).with(a: 1, b:2).and_return(an_instance)`

[2017-04-10 10:23] #1152 closed

[2017-04-12 08:59] Hirurg103 opened #1155 "Undefined method `include?' for nil:NilClass when using expect_any_instance_of(Klass).to receive_message_chain(msgs).with(arg)"
I have the following issue with rspec-mocks-3.6.0.beta2:
[code]

when I run the test
`bundle exec rspec spec/carrierwave/storage/flickr_spec.rb:163 -b`

I get this error:
[code]

Seems like that the error happens in
[code]

I thought that this issue has been fixed in #1061, but seems like that hasn't. Could you please help me to get this test case falling normally. Thanks!

[2017-04-12 11:58] JonRowe commented on #1155
Thanks, turns out theres some special case weirdness with that particular expectation.

[2017-04-14 05:06] #1155 closed

[2017-04-18 16:08] Bastes opened #1157 "Can't use ordered and count at the same time"
(rspec-mocks 3.5.0, rspec 3.5.0)

So, here's the kind of thing I did:

[code]

Which fails saying "received :my_litte_method out of order" on the first have_received(...).with(...) line.

If I remove the count, the message can have been received more times than expected and still pass, if I remove the .ordered lines I have no way to check that the method has been called with the right arguments.

[2017-04-18 16:24] myronmarston commented on #1157
Unfortunately, there are some bugs around `ordered` with spies.  See #916.  We haven't yet figured out a good fix. I believe your issue is related.

[2017-04-18 16:24] #1157 closed

[2017-05-11 16:37] imtayadeway opened #1158 "Performance characteristic of and'ing matchers on expected args appears exponential"
I don't know if this is a bug *per se*, or just unavoidable from the way I am writing this test.

Basically I am trying to solve a problem that looks something like this:

[code]

Basically, I'm trying to refactor some tests concerned with logging and putting expectations on logged messages. There are some parts of the message that might be non-deterministic, so I may not be able to specify the wh

[2017-05-11 17:15] myronmarston commented on #1158
It's definitely something we should improve.

That makes a lot of sense, but we evaluate the subject against _all_ of the matchers (even if each fails) so that the failure message can list the failure message from each non-matching part.  That way, the user gets a list of everything that failed to match instead of just getting the first failure, and then having to fix that and re-run to see the ne

[2017-05-11 17:26] imtayadeway commented on #1158
Thanks @myronmarston ! I will try to dig in and let you know if I make any progress with this

[2017-05-17 17:29] istolpov opened #1159 "stub_const fails to set name of stubbed Class if example is not in context"
Hello!
I found strange issue with `stub_const` helper:

Given `lib/conveyor.rb`
[code]
`lib/conveyor_modules.rb`
[code]
`spec/test_spec.rb`
[code]
`rspec -fd` returns that:

[code]

if commented example (with context) is uncommented, and same without context is commented, that suite passes

[code]

if we decide to use one without context, but explicitly call `s_module.name` in `before` clause it w

[2017-05-17 19:58] xaviershay commented on #1159
Thanks for the report! There's a lot going on here and I couldn't quite grok it all on a first pass. I'll try digging in more when I have some more time, but also if there is anything incidental in here you could remove that would be really helpful! For example:

* Is the third example required?
* The commented example and the uncommented one aren't the same. (So `context` might not be the definin

[2017-05-18 07:15] JonRowe commented on #1159
I suspect this will be related to Rails autoloading, (brought in by `require 'active_support/all'` and how that interacts with the missing constant.

[2017-05-18 09:26] hlcfan opened #1160 "RSpec::Mocks::Double#marshal_dump returned same class instance"
When I upgrade my Ruby to 2.3, I'm seeing the following error in my tests.
[code]

My code is like:
[code]
[code]

So when I call `fetch_kid` during my test run, it'll return the stubbed `kid` object and then serialize it and write into cache. The error is raised when doing serialization with Marshal.

Take a look at Ruby source, looks they made some changes since 2.3. See:
+ https://github.com/ru

[2017-05-18 10:54] wyde19 commented on #1159
@xaviershay I was trying to implement some extendable pipeline. `Conveyor` class is prepended by modules for each plug-in into pipeline, one finds respective to the key class in the pipeline and the other returns all pipeline modules.

Third example (if you are talking about `it 'passes the .find_module message down the chain' do`) is the one that fails. You see, when anonimous class is registered

[2017-05-18 10:59] wyde19 commented on #1159
@JonRowe probably not. You see, activesupport is there for inflections, namely `klass.name.underscore` which caused the error leading to discovery of the bug. There is no `autoload` expressions in the test app, moreover, no class extends or includes any activesupport class. Hence, only core extensions work. I could probably try to include core extensions only, but I didn't -- thought didn't cross

[2017-05-18 11:06] JonRowe commented on #1159
@wyde19 I'm not talking about the Ruby `autoload` declaration, but the fact `active_support` hijacks `const_missing` to load files, if you wish to use inflections I suggest you load only the inflections rather than `require 'active_support/all'`.

I suspect if you do a `--backtrace` you'll see active support lines in your tack trace.

[2017-05-27 01:51] bingosummer opened #1161 "Fail to mock in 3.2.0, but succeed in 3.1.0"
When I upgrade rspec from `3.1.0` to `3.2.0`, I hit the following issue.

I mocked a class using `let(:client) { instance_double(Azure::Storage::Client) }`, and mocked one method `allow(client).to receive(:storage_table_host=)`. When I run `bundle exec rspec`, it fails with an error.
[code]

`Azure::Storage::InvalidOptionsError` is defined in `Azure::Storage::Client`. From my understanding, if I m

[2017-05-27 02:09] myronmarston commented on #1161
What gem does `Azure::Storage` come from and what version?

[2017-05-27 02:31] bingosummer commented on #1161
`azure-storage (= 0.12.1.preview)`

[2017-05-27 05:28] myronmarston commented on #1161
There's a bug in `azure-storage`.

Normally, code like `[klass, 'SubModule'].join('::')` works:

[code]

But `Azure::Storage` is busted:

[code]

I think we can work around this, but `Azure::Storage` is a broken class and should be fixed. Please report to the maintainers.

[2017-05-27 05:38] myronmarston commented on #1161
I've got a fix in rspec/rspec-support#1161 if you want to give that a shot.